.footer {
  background-color: #7dcdb3;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  position: fixed;
  bottom: 0;
}

ion-content {
  padding-bottom: 60px; /* Esto garantiza que el contenido no quede oculto por el footer */
}
