<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Equipos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Iterar sobre los grupos -->
    <ion-item *ngFor="let grupo of grupos; let i = index" lines="full">
      <ion-label>
        <h2>{{ grupo.izena }}</h2>
        <!-- Mostrar los integrantes del grupo -->
        <div *ngFor="let trabajador of grupo.langileak">
          <ion-chip color="primary">
            <ion-label>
              ID: {{ trabajador.id }} - {{ trabajador.izena }} {{ trabajador.abizenak }}
            </ion-label>
          </ion-chip>
        </div>
      </ion-label>

      <!-- Botones para editar/eliminar -->
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="editarGrupo(i)">Editatu</ion-button>
        <ion-button color="danger" (click)="eliminarGrupo(grupo)">Ezabatu</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Botón flotante para crear grupo -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [routerLink]="'/crear-grupos'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
