<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ 'INFORMES.TITULO' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Formulario para ingresar el informe -->
  <div class="form-container">
    <ion-item>
      <ion-label position="floating">{{ 'INFORMES.INGRESE_TEXTO' | translate }}</ion-label>
      <ion-textarea
        [(ngModel)]="informeText"
        rows="10"
        placeholder="{{ 'INFORMES.ESCRIBIR_INFORME' | translate }}"
      ></ion-textarea>
    </ion-item>
  
    <ion-button expand="full" (click)="generatePDF()">
      {{ 'INFORMES.GENERAR_PDF' | translate }}
    </ion-button>
  </div>

    <canvas id="barChartCanvas"></canvas>
    <canvas id="pieChartCanvas"></canvas>
    <canvas id="lineChartCanvas"></canvas>
</ion-content>