<ion-header>
  <ion-toolbar>
    <ion-title>Reservar Cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1></h1>
    <div class="fecha-seleccionada">
      <strong>Fecha seleccionada:</strong> {{ fechaSeleccionada }}
    </div>

    <form [formGroup]="citaForm" (ngSubmit)="confirmarCita()">
      <ion-item>
        <ion-label position="floating">Izena</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefonoa</ion-label>
        <ion-input formControlName="telefono" type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Hasiera ordua</ion-label>
        <ion-input formControlName="hora" type="text" placeholder="Ordua sartu (adb: 14:30)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Amaiera ordua</ion-label>
        <ion-input formControlName="horaFin" type="text" placeholder="Ordua sartu (adb: 15:30)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Eserlekua</ion-label>
        <ion-input formControlName="eslekua" type="number" placeholder="Eserlekua"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Deskribapena</ion-label>
        <ion-input formControlName="deskribapena" type="text" placeholder="Deskribapena"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Etxekoa</ion-label>
        <ion-select formControlName="etxekoa">
          <ion-select-option value="K">E</ion-select-option>
          <ion-select-option value="E">B</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Prezioa (€)</ion-label>
        <ion-input formControlName="prezioa" type="number" placeholder="Prezioa"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Langilea</ion-label>
        <ion-select formControlName="langilea" (ionChange)="onLangileaChange($event)">
          <ion-select-option *ngFor="let langilea of langileakList" [value]="langilea.id">
            {{ langilea.izena }} {{ langilea.abizenak }} ({{ langilea.kodea }})
          </ion-select-option>
        </ion-select>
      </ion-item>
      

      <div class="button-container">
        <ion-button color="danger" (click)="descartarCita()">✖</ion-button>
        <ion-button type="submit" color="success">✔</ion-button>
      </div>
    </form>
  </div>
</ion-content>
