<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'RESERVAR_CITA.TITLE' | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="fecha-seleccionada">
          <strong>{{ 'RESERVAR_CITA.SELECTED_DATE' | translate }}</strong> {{ fechaSeleccionada }}
        </div>

        <form [formGroup]="citaForm" (ngSubmit)="confirmarCita()" class="form-grid">
          <div class="form-column">
            <ion-item>
              <ion-label position="stacked">{{ 'RESERVAR_CITA.NAME' | translate }}</ion-label>
              <ion-input formControlName="nombre" placeholder="{{ 'RESERVAR_CITA.NAME' | translate }}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'RESERVAR_CITA.PHONE' | translate }}</ion-label>
              <ion-input formControlName="telefono" type="tel" placeholder="603701067"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'RESERVAR_CITA.START_TIME' | translate }}</ion-label>
              <ion-input formControlName="hora" type="time" placeholder="{{ 'RESERVAR_CITA.START_TIME' | translate }}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'RESERVAR_CITA.END_TIME' | translate }}</ion-label>
              <ion-input formControlName="horaFin" type="time" placeholder="{{ 'RESERVAR_CITA.END_TIME' | translate }}"></ion-input>
            </ion-item>
          </div>

          <div class="form-column">
            <ion-item>
              <ion-label position="stacked">{{ 'RESERVAR_CITA.SEAT' | translate }}</ion-label>
              <ion-input formControlName="eslekua" type="number" placeholder="{{ 'RESERVAR_CITA.SEAT' | translate }}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'RESERVAR_CITA.DESCRIPTION' | translate }}</ion-label>
              <ion-input formControlName="deskribapena" type="text" placeholder="{{ 'RESERVAR_CITA.DESCRIPTION' | translate }}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'RESERVAR_CITA.FROM_HOME' | translate }}</ion-label>
              <ion-select formControlName="etxekoa">
                <ion-select-option value="K">{{ 'RESERVAR_CITA.NO' | translate }}</ion-select-option>
                <ion-select-option value="E">{{ 'RESERVAR_CITA.YES' | translate }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'RESERVAR_CITA.PRICE' | translate }}</ion-label>
              <ion-input formControlName="prezioa" type="number" placeholder="{{ 'RESERVAR_CITA.PRICE' | translate }}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'RESERVAR_CITA.WORKER' | translate }}</ion-label>
              <ion-select formControlName="langilea" (ionChange)="onLangileaChange($event)">
                <ion-select-option *ngFor="let langilea of langileakList" [value]="langilea.id">
                  {{ langilea.izena }} {{ langilea.abizenak }} ({{ langilea.kodea }})
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </form>

        <div class="button-container">
          <ion-button color="danger" (click)="descartarCita()">✖</ion-button>
          <ion-button type="submit" color="success" (click)="confirmarCita()">✔</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>