<ion-header>
  <ion-toolbar>
    <ion-title>Reservar Cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>DATOS</h2>
    <form [formGroup]="citaForm" (ngSubmit)="confirmarCita()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input formControlName="apellidos"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input formControlName="telefono" type="tel"></ion-input>
      </ion-item>      
      
      <ion-item>
        <ion-label position="floating">Servicio</ion-label>
        <ion-select formControlName="servicio">
          <ion-select-option value="corte">Corte</ion-select-option>
          <ion-select-option value="tinte">Tinte</ion-select-option>
          <ion-select-option value="peinado">Peinado</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hora</ion-label>
        <ion-input formControlName="hora" type="text" placeholder="Ingresa la hora (ej: 14:30)"></ion-input>
      </ion-item>
      
      <div class="button-container">
        <ion-button color="danger" (click)="descartarCita()">✖</ion-button>
        <ion-button type="submit" color="success">✔</ion-button>
      </div>
    </form>
  </div>
</ion-content>
