/* Estilos generales */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    height: 100vh;
    box-sizing: border-box;
    margin-top: 20px;
}

/* Estilos del toolbar */
ion-toolbar {
    --background: #1c345c;
    --color: #fff;
}

ion-toolbar ion-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Estilos del menú */
ion-menu {
    --background: #1c345c;
}

ion-menu ion-content {
    --background: #1c345c;
}

ion-menu ion-list {
    background: #1c345c;
}

/* Estilos de los items del menú */
ion-item {
    --background: #1c345c;
    --color: #fff;
    --background-hover: #9eb9e7;
    border-bottom: 1px solid #ccc;
}

.menu-container ion-item {
    --min-height: 80px;
    --background: #1c345c;
}
