<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Editar equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="editarGrupo()">
    <ion-list>
      <form #grupoForm="ngForm" (ngSubmit)="editarGrupo()" novalidate>
      <!-- Nombre del equipo -->
      <ion-item>
        <ion-label position="floating">Nombre del Equipo</ion-label>
        <ion-input
          [(ngModel)]="equipo.izena"
          name="izena"
          placeholder="Introduce el nombre del equipo"
          required
          #izena = "ngModel"
        ></ion-input>
        <ion-note *ngIf="izena.invalid && izena.touched" color="danger">
          El equipo debe contener un nombre.
        </ion-note>
      </ion-item>

      <!-- Seleccionar trabajadores -->
      <ion-item>
        <ion-label>Trabajadores</ion-label>
        <ion-select
          multiple="true"
          [(ngModel)]="equipo.langileak"
          name="langileak"
          placeholder="Selecciona los trabajadores">
          <ion-select-option
            *ngFor="let trabajador of trabajadores"
            [value]="trabajador">
            {{ trabajador.izena }} {{ trabajador.abizenak }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Botón para guardar -->
      <ion-button expand="full" type="submit" [disabled]="grupoForm.invalid" color="tertiary">
        Guardar Equipo
      </ion-button>
    </form>
    </ion-list>
  </form>
</ion-content>
