<ion-header>
  <ion-toolbar>
    <ion-title>Crear Ficha</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button> <!-- Botón para cerrar el modal -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <!-- Formulario o contenido dentro del modal -->
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="ficha.izena" name="izena" placeholder="Introduce un valor para nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input [(ngModel)]="ficha.abizena" name="abizena" placeholder="Introduce un valor para apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Piel sensible</ion-label>
      <ion-select [(ngModel)]="ficha.azal_sentikorra" name="pielSensible" placeholder="Selecciona una opción">
        <ion-select-option value="B">Sí</ion-select-option>
        <ion-select-option value="E">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Telefono</ion-label>
      <ion-input [(ngModel)]="ficha.telefonoa" name="telefonoa" placeholder="Introduce un valor para telefono"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="confirmar()">Confirmar</ion-button>
  </form>
</ion-content>
