<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Historiala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenedor de botones -->
  <ion-grid class="container">
    <ion-row class="buttons-row">
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button (click)="cambiarAClientes()" class="custom-button">
          <img src="assets/Images/client.png" alt="Bezeroak" class="button-icon" />
          <span>Bezero-fitxak</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" [routerLink]="'/grupos'" class="custom-button">
          <img src="assets/Images/grupo.jpg" alt="Taldeak" class="button-icon" />
          <span>Taldeak</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" [routerLink]="'/informes'" class="custom-button">
          <img src="assets/Images/langileak.jpg" alt="Langileak" class="button-icon" />
          <span>Langileak</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" [routerLink]="'/informes'" class="custom-button">
          <img src="assets/Images/citas.jpg" alt="Hitzorduak" class="button-icon" />
          <span>Hitzorduak</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" [routerLink]="'/informes'" class="custom-button">
          <img src="assets/Images/productos.png" alt="Produktuak" class="button-icon" />
          <span>Produktuak</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" [routerLink]="'/informes'" class="custom-button">
          <img src="assets/Images/materiales.png" alt="Materialak" class="button-icon" />
          <span>Materialak</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" [routerLink]="'/informes'" class="custom-button">
          <img src="assets/Images/reloj.webp" alt="Ordutegiak" class="button-icon" />
          <span>Ordutegiak</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" [routerLink]="'/informes'" class="custom-button">
          <img src="assets/Images/inventario.webp" alt="Kategoriak" class="button-icon" />
          <span>Kategoriak</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" [routerLink]="'/informes'" class="custom-button">
          <img src="assets/Images/ticket.jpg" alt="Tickets" class="button-icon" />
          <span>Tickets</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" [routerLink]="'/informes'" class="custom-button">
          <img src="assets/Images/servicios.jpg" alt="Zerbitzuak" class="button-icon" />
          <span>Zerbitzuak</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
