<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ 'HISTORIAL.TITULO' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenedor de botones -->
  <ion-grid class="container">
    <ion-row class="buttons-row">
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button (click)="cambiarAClientes()" class="custom-button">
          <img src="assets/Images/client.png" alt="Bezeroak" class="button-icon" />
          <span>{{ 'HISTORIAL.FICHAS_CLIENTES' | translate }}</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" (click)="cambiarAGrupos()" class="custom-button">
          <img src="assets/Images/grupo.jpg" alt="Taldeak" class="button-icon" />
          <span>{{ 'HISTORIAL.GRUPOS' | translate }}</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" (click)="cambiarAlangile()"  class="custom-button">
          <img src="assets/Images/langileak.jpg" alt="Langileak" class="button-icon" />
          <span>{{ 'HISTORIAL.TRABAJADORES' | translate }}</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" (click)="irAGestionarcitas()" class="custom-button">
          <img src="assets/Images/citas.jpg" alt="Hitzorduak" class="button-icon" />
          <span>{{ 'HISTORIAL.CITAS' | translate }}</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" (click)="cambiarAProductos()" class="custom-button">
          <img src="assets/Images/productos.png" alt="Produktuak" class="button-icon" />
          <span>{{ 'HISTORIAL.PRODUCTOS' | translate }}</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" (click)=" irAMateriales()" class="custom-button">
          <img src="assets/Images/materiales.png" alt="Materialak" class="button-icon" />
          <span>{{ 'HISTORIAL.MATERIALES' | translate }}</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" (click)=" irAMaterialMaileguak()" class="custom-button">
          <img src="assets/Images/reloj.webp" alt="Maileguak" class="button-icon" />
          <span>{{ 'HISTORIAL.HORARIOS' | translate }}</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" (click)="cambiarACategorias()" class="custom-button">
          <img src="assets/Images/inventario.webp" alt="Kategoriak" class="button-icon" />
          <span>{{ 'HISTORIAL.CATEGORIAS' | translate }}</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" (click)="irATickets()" class="custom-button">
          <img src="assets/Images/ticket.jpg" alt="Tickets" class="button-icon" />
          <span>{{ 'HISTORIAL.TICKETS' | translate }}</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" (click)="irAServicios()" class="custom-button">
          <img src="assets/Images/servicios.jpg" alt="Zerbitzuak" class="button-icon" />
          <span>{{ 'HISTORIAL.SERVICIOS' | translate }}</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" (click)="irAKolore()" class="custom-button">
          <img src="assets/Images/historial.jpg" alt="KOLORE HISTORIAL" class="button-icon" />
          <span>KOLORE HISTORIAL</span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
        <ion-button shape="" (click)="irAMugimenduak()" class="custom-button">
          <img src="assets/Images/movimientoDeProductos.jpg" alt="PRODUKTU MUGIMENDUAK" class="button-icon" />
          <span>PRODUKTU MUGIMENDUAK</span>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
