<ion-content>
  <div class="card-container">
    <form #productoForm="ngForm" (ngSubmit)="guardarProducto()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ 'CREAR_PRODUCTO.TITLE' | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <!-- Nombre Input -->
            <ion-item>
              <ion-label position="stacked">{{ 'CREAR_PRODUCTO.NOMBRE' | translate }}</ion-label>
              <ion-input
                [(ngModel)]="producto.izena"
                name="izena"
                placeholder="{{ 'CREAR_PRODUCTO.NOMBRE_PLACEHOLDER' | translate }}"
                required
              ></ion-input>
            </ion-item>

            <!-- Marca Input -->
            <ion-item>
              <ion-label position="stacked">{{ 'CREAR_PRODUCTO.MARCA' | translate }}</ion-label>
              <ion-input
                [(ngModel)]="producto.marka"
                name="marka"
                placeholder="{{ 'CREAR_PRODUCTO.MARCA_PLACEHOLDER' | translate }}"
                required
              ></ion-input>
              <ion-note *ngIf="productoForm.controls['marka']?.invalid && productoForm.controls['marka']?.touched" color="danger">
                {{ 'CREAR_PRODUCTO.MARCA_REQUIRED' | translate }}
              </ion-note>
            </ion-item>

            <!-- Descripción Input -->
            <ion-item>
              <ion-label position="stacked">{{ 'CREAR_PRODUCTO.DESCRIPCION' | translate }}</ion-label>
              <ion-input
                [(ngModel)]="producto.deskribapena"
                name="deskribapena"
                placeholder="{{ 'CREAR_PRODUCTO.DESCRIPCION_PLACEHOLDER' | translate }}"
                #deskribapena="ngModel"
              >
              </ion-input>
            </ion-item>

            <!-- Stock Input -->
            <ion-item>
              <ion-label position="stacked">{{ 'CREAR_PRODUCTO.STOCK' | translate }}</ion-label>
              <ion-input
                [(ngModel)]="producto.stock"
                name="stock"
                placeholder="{{ 'CREAR_PRODUCTO.STOCK_PLACEHOLDER' | translate }}"
                #stock="ngModel"
                required
              ></ion-input>
              <ion-note *ngIf="productoForm.controls['stock']?.invalid && productoForm.controls['stock']?.touched" color="danger">
                {{ 'CREAR_PRODUCTO.STOCK_REQUIRED' | translate }}
              </ion-note>
            </ion-item>

            <!-- Stock alerta Input -->
            <ion-item>
              <ion-label position="stacked">{{ 'CREAR_PRODUCTO.STOCK_ALERTA' | translate }}</ion-label>
              <ion-input
                [(ngModel)]="producto.stock_alerta"
                name="stock_alerta"
                placeholder="{{ 'CREAR_PRODUCTO.STOCK_ALERTA_PLACEHOLDER' | translate }}"
                #stock_alerta="ngModel"
                required
              ></ion-input>
              <ion-note *ngIf="productoForm.controls['stock_alerta']?.invalid && productoForm.controls['stock_alerta']?.touched" color="danger">
                {{ 'CREAR_PRODUCTO.ALERTA_REQUIRED' | translate }}
              </ion-note>
            </ion-item>

            <!-- Categoría Select -->
            <ion-item>
              <ion-label>{{ 'CREAR_PRODUCTO.CATEGORIA' | translate }}</ion-label>
              <ion-select [(ngModel)]="producto.kategoriak.id" name="kategoriak" placeholder="{{ 'CREAR_PRODUCTO.CATEGORIA_PLACEHOLDER' | translate }}" required>
                <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">
                  {{ categoria.izena }}
                </ion-select-option>
              </ion-select>
              <ion-note *ngIf="productoForm.controls['kategoriak']?.invalid && productoForm.controls['kategoriak']?.touched" color="danger">
                {{ 'CREAR_PRODUCTO.CATEGORIA_REQUIRED' | translate }}
              </ion-note>
            </ion-item>
            
            <!-- Save Button -->
            <ion-button
              expand="full"
              type="submit"
              color="tertiary"
              [disabled]="productoForm.invalid"
            >
              {{ 'CREAR_PRODUCTO.GUARDAR' | translate }}
            </ion-button>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
