<ion-app>
  <!-- Llamada al componente del menú -->
  <app-menu-header></app-menu-header>

  <!-- Contenido principal -->
  <ion-content id="main-content" [fullscreen]="true">
    <app-menu-header></app-menu-header>

    <!-- Header principal -->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button> <!-- Botón de menú -->
        </ion-buttons>
        <ion-title><strong>ADMINISTRAZIOA</strong></ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Contenedor de botones -->
    <ion-grid class="container">
      <ion-row class="buttons-row">
        <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
          <ion-button shape="" [routerLink]="'/stock'" class="custom-button">
            <img src="assets/Images/stock.png" alt="Stock" class="button-icon" />
            <span>"Stock"-a</span>
          </ion-button>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
          <ion-button shape="" [routerLink]="'/grupos'" class="custom-button">
            <img src="assets/Images/grupo.jpg" alt="Taldeak" class="button-icon" />
            <span>Taldeak</span>
          </ion-button>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
          <ion-button shape="" [routerLink]="'/informes'" class="custom-button">
            <img src="assets/Images/informe.png" alt="Txostenak" class="button-icon" />
            <span>Txostenak</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
