<ion-app>
  <!-- Llamada al componente del menú -->
  <app-menu-header></app-menu-header>

  <!-- Contenido principal -->
  <ion-content id="main-content" [fullscreen]="true">
    <app-menu-header></app-menu-header>

    <!-- Header principal -->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button> <!-- Botón de menú -->
        </ion-buttons>
        <ion-title ><strong>ADMINISTRAZIOA</strong></ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Contenido principal -->
    <ion-grid class="container">
      <!-- Imagen centrada -->
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-img src="assets/Images/administracion-de-empresas.webp" alt="Imagen" class="top-image"></ion-img>
        </ion-col>
      </ion-row>

      <!-- Botones -->
      <ion-row class="buttons-row">
        <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
          <ion-button shape="round" [routerLink]="'/stock'">"Stock"-a</ion-button>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
          <ion-button shape="round" [routerLink]="'/grupos'">Taldeak</ion-button>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
          <ion-button shape="round" [routerLink]="'/informes'">Txostenak</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
