.container {
    padding: 16px;
    text-align: center;
  }
  
  ion-card {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 20px;
    width: 45%;
    margin-right: 5%;
  }
  
  ion-button:last-child {
    margin-right: 0;
  }
  