<ion-content>
  <div class="card-container">
    <form #materialForm="ngForm" (ngSubmit)="guardarMaterial()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ 'CREAR_MATERIAL.NUEVO_MATERIAL' | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
                 <!-- Nombre Input -->
                 <ion-item>
                  <ion-label position="stacked">{{ 'CREAR_MATERIAL.NOMBRE' | translate }}</ion-label>
                  <ion-input
                    [(ngModel)]="material.izena"
                    name="izena"
                    placeholder="Introduce un valor para nombre"
                    required
                  ></ion-input>
                  <ion-note color="danger" *ngIf="!material.izena">
                    {{ 'CREAR_MATERIAL.NOMBRE_OBLIGATORIO' | translate }}
                  </ion-note>
                  
                </ion-item>
    
                <!-- Etiketa Input -->
                <ion-item>
                  <ion-label position="stacked">{{ 'CREAR_MATERIAL.ETIKETA' | translate }}</ion-label>
                  <ion-input
                    [(ngModel)]="material.etiketa"
                    name="etiketa"
                    placeholder="{{ 'CREAR_MATERIAL.INTRODUCE_ETIKETA' | translate }}"
                    required
                  ></ion-input>
                  <ion-note color="danger" *ngIf="!material.etiketa" color="danger">
                    {{ 'CREAR_MATERIAL.ETIKETA_OBLIGATORIA' | translate }}
                  </ion-note>
                </ion-item>
          </ion-list>

          <!-- Save Button -->
          <ion-button
            expand="full"
            type="submit"
            color="tertiary"
            [disabled]="materialForm.invalid"
            >{{ 'CREAR_MATERIAL.GUARDAR' | translate }}</ion-button>
          </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
