:root {
  /* 🎨 Colores principales */
  --ion-color-primary: #1c345c;
  --ion-color-primary-rgb: 28, 52, 92; /* Corregido */
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #172a4b;
  --ion-color-primary-tint: #254273;
  --ion-color-secondary: #031027; 
  --ion-color-tertiary: #41a367;

  /* 🌞 Modo claro (por defecto) */
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-toolbar-background: #ffffff;
  --ion-item-background: #f8f8f8;
  --ion-card-background: #ffffff;
}

/* 🌙 Modo oscuro */
.dark {
  --ion-background-color: #121212;   /* Fondo oscuro general */
  --ion-text-color: #ffffff;         /* Texto claro */
  --ion-toolbar-background: #333333; /* Fondo barra herramientas */
  --ion-toolbar-color: #ffffff;      /* Texto barra herramientas */
  --ion-item-background: #000000;    /* Fondo oscuro para los items */
  --ion-card-background: #000000;    /* Fondo oscuro para las tarjetas */

  /* Menú lateral */
  --ion-menu-background: #1e1e1e;
  --ion-menu-color: #ffffff;

  /* Datetime */
  --ion-datetime-background: #1e1e1e;
}

/* 🖌️ Aplicar los colores a los componentes */
ion-content,
ion-menu,
ion-item,
ion-toolbar,
ion-header,
ion-card,
ion-datetime {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
}

/* 🎴 Asegurar que los títulos en las cards sean correctos en ambos modos */
ion-card-title {
  --color: var(--ion-text-color);
  color: var(--ion-text-color) !important;
}

/* 🔳 Tarjetas en modo oscuro */
.dark ion-card {
  background-color: var(--ion-card-background);
  color: var(--ion-text-color);
}

/* 🔲 Estilos de tablas en modo oscuro */
.dark .custom-table td,
.dark .custom-table th {
  background-color: #1e1e1e;
  color: #ffffff !important; /* Para asegurar que el texto sea blanco */
}

.dark .custom-table th {
  background-color: var(--ion-color-primary); /* Para que el encabezado de la tabla siga el color primario */
  color: #ffffff;
}

/* ✍ Ajustar inputs, labels, selects, items y encabezados en modo oscuro */
.dark ion-input,
.dark ion-label,
.dark ion-select-option,
.dark ion-select,
.dark ion-text,
.dark ion-item,
.dark ion-item ion-label,
.dark ion-input,
.dark h1,
.dark .custom-table td {
  --color: white;
  color: white !important;
}

/* Estilo para celdas de tabla */
.dark .custom-table td {
  color: white !important;
  background-color: #1e1e1e; /* Fondo oscuro para las celdas */
}