// src/theme/variables.scss
:root {
    --ion-color-primary: #7dcdb3; 
    --ion-color-primary-rgb: 50, 205, 50;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #7dcd94;
    --ion-color-primary-tint: #83e783;
  }

  ion-content {
    --background: #ffffff;
  }
  ion-grid {
    display: block;
    overflow-x: auto; /* Permite scroll horizontal */
    white-space: nowrap; /* Mantiene las filas en línea */
  }

  .backdrop, .alert-backdrop {
    backdrop-filter: none !important;
    opacity: 1 !important;
  }
  .alert input:focus {
    backdrop-filter: none !important;
  }
  
  