<ion-app>
  <app-menu-header></app-menu-header>

  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <!-- Header principal -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Egutegia</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="container">
        <ion-label>Selecciona un dia: </ion-label>

        <ion-datetime
          presentation="date"
          [(ngModel)]="fechaSeleccionada"
          display-format="DD MMM YYYY"
          picker-format="DD MMM YYYY"
          [min]="minFecha"
          [max]="maxFecha"
          (ionChange)="onFechaChange($event)"
          show-default-time="false"
          color="tertiary"
        >
        </ion-datetime>
      </div>
    </ion-content>
  </div></ion-app
>
