<ion-app>
<app-menu-header></app-menu-header>

  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <!-- Header principal -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Egutegia</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="container">
        <ion-datetime
          presentation="date"
          [(ngModel)]="fechaSeleccionada"
          display-format="DD MMM YYYY"
          picker-format="DD MMM YYYY"
          [min]="minFecha"
          [max]="maxFecha"
          (ionChange)="onFechaChange($event)"
          show-default-time="false">
        </ion-datetime>

        <div class="info">
          <ion-item>
            <ion-label>Taldea</ion-label>
            <ion-input [value]="grupoSeleccionado" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Hitzorduak</ion-label>
            <ion-textarea [value]="citasSeleccionadas.join('\n')" readonly></ion-textarea>
          </ion-item>

          <!-- Botón para añadir cita -->
          <div class="botones">
            <ion-button expand="block" (click)="irACitas()">Añadir cita</ion-button>
          </div>
        </div>
      </div>
    </ion-content>
  </div>
</ion-app>