.container {
  text-align: center;
  padding: 16px;
}

h1 {
  margin-bottom: 16px;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.calendar-header span {
  margin: 0 8px;
  font-weight: bold;
}

.dia-header {
  text-align: center;
  font-weight: bold;
}

.dia {
  text-align: center;
  padding: 12px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dia[disabled] {
  color: #ccc;
  pointer-events: none;
}

.dia.seleccionado {
  background-color: #3880ff;
  color: #fff;
}

.info {
  margin-top: 30px; /* Aumenté el margen superior para separar más */
  text-align: left;
}

ion-item {
  margin-bottom: 16px; /* Aumenté el margen inferior para separar más los campos */
  padding: 12px; /* Aumentar el padding alrededor del item */
}

/* Estilo para el textarea (citas) */
ion-textarea {
  height: 100%; /* Hacer que el campo ocupe el 100% del espacio disponible */
  min-height: 120px; /* Aseguramos que tenga al menos 120px de altura */
  padding: 12px; /* Añadir padding dentro del textarea para mayor espacio */
  resize: none; /* Evitar que el usuario redimensione el textarea */
  overflow: hidden; /* Eliminar la barra de desplazamiento */
  box-sizing: border-box; /* Aseguramos que el padding se tenga en cuenta en el cálculo del tamaño */
}

/* Para pantallas pequeñas */
@media (max-width: 576px) {
  ion-item {
    padding: 8px; /* Reducir padding para pantallas pequeñas */
  }

  ion-textarea {
    height: 100%; /* Aseguramos que ocupe todo el espacio disponible */
    min-height: 100px; /* Ajustar la altura mínima del campo en pantallas pequeñas */
  }
}

/* Estilo para el calendario en formato grid */
.calendario-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columnas para los 7 días de la semana */
  grid-gap: 4px;
  justify-items: center;
  margin-top: 10px;
}

/* Estilos para los días */
.dia {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* Para pantallas pequeñas */
@media (max-width: 576px) {
  .dia {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }
  .calendar-header span {
    font-size: 14px;
  }
}

