button {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  margin: 5px 0;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 50px; 
  box-sizing: border-box;
}


.custom-blue-button {
  --background: #007bff; 
  --border-radius: 4px;  
  --color: white;       
  width: 100%;        
  height: 50px;          
}

.custom-red-button {
  --background: #270000;  
  --border-radius: 4px; 
  --color: white;      
  width: 100%;        
  height: 50px;          
}

.custom-gray-button {
  --background: #434343;  
  --border-radius: 4px; 
  --color: white;      
  width: 100%;        
  height: 50px;          
}

.custom-purple-button {
  --background: #ae00ff;  
  --border-radius: 4px; 
  --color: white;      
  width: 100%;        
  height: 50px;          
}


.custom-blue-button:hover {
  --background: #0056b3;  
}


ion-card {
  margin: 0 auto; 
  width: 300px; 
}

ion-row {
  justify-content: center; 
}

ion-col {
  display: flex;
  justify-content: center; 
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-select {
  font-size: 18px; 
  width: 100%; 
}

ion-label {
  font-size: 14px; 
}

.lowStock{
  color: red; font-weight: bold;
}

.custom-blue-button {
  --background: #007bff; 
  --border-radius: 4px;  
  --color: white;       
  width: 100%;        
  height: 50px;          
}

.custom-red-button {
  --background: #270000;  
  --border-radius: 4px; 
  --color: white;      
  width: 100%;        
  height: 50px;          
}

.custom-gray-button {
  --background: #434343;  
  --border-radius: 4px; 
  --color: white;      
  width: 100%;        
  height: 50px;          
}

.custom-purple-button {
  --background: #ae00ff;  
  --border-radius: 4px; 
  --color: white;      
  width: 100%;        
  height: 50px;          
}


.custom-blue-button:hover {
  --background: #0056b3;  
}


.button-container{
  display: flex;
  justify-content: center;
  text-align: center;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-right: 0; /* Pegamos la tabla a la derecha */
}

.custom-table td, .custom-table th {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd; /* Añadimos líneas de separación entre las celdas */
}

.custom-table th {
  background-color: var(--ion-color-primary);
  color: white;
  font-weight: bold;
}

.custom-white-column {
  background-color: white;
  color: black;
}

.custom-tertiary-column {
  background-color: var(--ion-color-primary);
  color: white;
}

/* Opcionalmente, puedes agregar bordes más visibles a las filas */
.custom-table tr {
  border-bottom: 2px solid #1b1b1b; /* Línea de separación entre productos */
}

/* Aseguramos que las celdas tengan bordes */
.custom-table td {
  border-right: 1px solid  #1b1b1b;
}

.custom-table tr:last-child td {
  border-bottom: none; /* Eliminar la línea inferior en la última fila */
}




