<ion-app>
  <app-menu-header></app-menu-header>
  
    <!-- Contenido principal -->
    <ion-app class="ion-page" id="main-content">
      <!-- Header principal -->
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Produktuak</ion-title>
        </ion-toolbar>
      </ion-header>

<ion-content [fullscreen]="true">
  <!-- Buscador -->
  <ion-searchbar
    search-icon="search-circle"
    [placeholder]="search"
    (ionInput)="aplicarFiltro($event)">
  </ion-searchbar>

  <!-- Selector de productos por página -->
  <div class="productosPorPagina">
    <ion-item class="producto-item">
      <ion-label size="small">{{title}}:</ion-label>
      <ion-select [(ngModel)]="productosPorPagina" interface="popover" size="small" (ionChange)="cambiarPagina(1)">
        <ion-select-option [value]="5">5</ion-select-option>
        <ion-select-option [value]="10">10</ion-select-option>
        <ion-select-option [value]="25">25</ion-select-option>
        <ion-select-option [value]="50">50</ion-select-option>
        <ion-select-option [value]="100">100</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="ordenacion-filtros">
    <ion-item>
      <ion-label>{{ 'Ordenar por:' }}</ion-label>
      <ion-select [(ngModel)]="ordenActual.columna" interface="popover" (ionChange)="ordenarPor(ordenActual.columna)">
        <ion-select-option value="id">{{ 'ID' }}</ion-select-option>
        <ion-select-option value="izena">{{ name }}</ion-select-option>
        <ion-select-option value="marka">{{ brand }}</ion-select-option>
        <ion-select-option value="stock">Stock</ion-select-option>
        <ion-select-option value="sortze_data">{{ cd }}</ion-select-option>
        <ion-select-option value="eguneratze_data">{{ ud }}</ion-select-option>
      </ion-select>
  
      <ion-label>{{ 'Ordenar: ' }}</ion-label>
      <ion-select [(ngModel)]="ordenActual.ascendente" interface="popover" (ionChange)="cambiarOrden($event)">
        <!-- Agregar un placeholder que cambia dependiendo del valor de ascendente -->
        <ion-select-option value="true">{{ 'Ascendente' }}</ion-select-option>
        <ion-select-option value="false">{{ 'Descendente' }}</ion-select-option>
        <ion-label slot="start">
          {{ ordenActual.ascendente === true ? 'Ascendente' : 'Descendente' }}
        </ion-label>
      </ion-select>      
    </ion-item>
  </div>
  
  <!-- Paginación -->
  <ion-row>
    <ion-col>
      <ion-button *ngFor="let page of hacerPaginacion()" (click)="cambiarPagina(page)">
        {{ page }}
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Fila de edición visible solo en modo edición -->
  <ion-row *ngIf="editandoProducto">
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{edit}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form #productoForm="ngForm" (ngSubmit)="confirmarEdicion()" novalidate>
          <ion-item>
            <ion-label position="floating">ID</ion-label>
            <ion-input [(ngModel)]="productoSeleccionado.id" name="id" #id="ngModel" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{name}}</ion-label>
            <ion-input [(ngModel)]="productoSeleccionado.izena" name="izena" #izena ="ngModel" required></ion-input>
            <ion-note *ngIf="izena.invalid && izena.touched" color="danger">
              El nombre es obligatorio.
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{brand}}</ion-label>
            <ion-input [(ngModel)]="productoSeleccionado.marka" name="marka" #marka="ngModel" required></ion-input>
            <ion-note *ngIf="marka.invalid && marka.touched" color="danger">
              La marca es obligatoria.
            </ion-note>
          </ion-item>          
          <ion-item>
            <ion-label position="floating">{{name_category}}</ion-label>
            <ion-input [(ngModel)]="productoSeleccionado.kategoriak.id" name="id_category"  #id_category ="ngModel" required></ion-input>
            <ion-note *ngIf="id_category.invalid && id_category.touched" color="danger">
              El id categoria es obligatorio.
            </ion-note>
          </ion-item>
          <!-- Tienes que poner informacion del historial cuando este -->
          <ion-button color="tertiary" expand="full" (click)="confirmarEdicion()"  type="submit" [disabled]="productoForm.invalid">{{confirm}}</ion-button>
          <ion-button expand="full" color="danger" (click)="cancelarEdicion()">{{cancel}}</ion-button>
          <ion-button expand="full" class="custom-blue-button" (click)="verDetalles(productoSeleccionado)">
            {{info}}
          </ion-button>
        </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Fila de productos -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <table class="custom-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>{{name}}</th>
              <th>{{brand}}</th>
              <th>Stock</th>
              <th>{{cd}}</th>
              <th>{{ud}}</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productosFiltrados | slice: (paginaActual - 1) * productosPorPagina : paginaActual * productosPorPagina">
              <td>{{ producto.id || '-' }}</td>
              <td>{{ producto.izena || '-' }}</td>
              <td>{{ producto.marka || '-' }}</td>
              <td>{{ producto.stock || '-' }}</td>
              <td>{{ producto.data?.sortze_data | date:'yyyy-MM-dd' }}</td>
              <td>{{ producto.data?.eguneratze_data ? (producto.data.eguneratze_data | date:'yyyy-MM-dd') : '-' }}</td>
              <td>
                <ion-button color="primary" (click)="editarProducto(producto)">{{ edit }}</ion-button>
                <ion-button color="secondary" (click)="verDetalles(producto)">{{ info }}</ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Modal para ver detalles del producto -->
  <ion-modal [isOpen]="productoConInformacionSeleccionada" (ionModalDidDismiss)="cerrarModal()" (click)="cerrarModal()">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{info}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()">{{cancel}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div *ngIf="productoSeleccionado" (click)="$event.stopPropagation()">
        <p><strong>{{info}}:</strong> {{ productoSeleccionado.deskribapena || '-' }}</p>
        <p><strong>{{name}}:</strong> {{ productoSeleccionado.izena || '-'  }}</p>
        <p><strong>{{brand}}:</strong> {{ productoSeleccionado.marka || '-'  }}</p>
        <p><strong>{{id_category}}:</strong> {{ productoSeleccionado.kategoriak && productoSeleccionado.kategoriak.izena ? productoSeleccionado.kategoriak.izena : '-' }}</p>
        <p><strong>Stock alerta:</strong> {{ productoSeleccionado.stock_alerta || '-'  }}</p>
        <p><strong>{{cd}}:</strong> {{ productoSeleccionado.data?.eguneratze_data || '-'  }}</p>
        <p><strong>{{ud}}:</strong> {{ productoSeleccionado.data?.sortze_data || '-'  }}</p>
       
        <!-- Información del historial cuando esté disponible -->
      </div>
    </ion-content>
  </ion-modal>
</ion-content>
</ion-app>