ion-row {
  border-bottom: 1px solid #ccc;
  align-items: center; /* Centra verticalmente el contenido */
}

/* Estiliza las columnas */
ion-col {
  padding: 10px;
  text-align: center; /* Centra el texto */
}

/* Títulos de columnas */
strong {
  font-size: 16px;
}

/* Adaptaciones responsivas */
@media (max-width: 768px) {
  ion-col {
    font-size: 12px; /* Reduce el tamaño de texto en móviles */
    padding: 5px;
  }

  strong {
    font-size: 14px; /* Reduce el tamaño de los encabezados */
  }

  ion-row {
    display: flex;
    flex-direction: column; /* Cambia a diseño en columna para móviles */
  }

  ion-col {
    text-align: left; /* Alinea texto a la izquierda */
    display: block;
  }

  /* Añade encabezados visibles en cada celda */
  ion-col[data-label]:before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    color: #444;
  }
}
ion-title{
  display: flex;
  text-align: center;
  justify-content: center;
}