<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menua</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="primary">
    <div class="menu-container">
      <ion-list>
        <ion-item color="primary" href="/gestionar-citas">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label>Hitzorduak</ion-label>
        </ion-item>
        <ion-item color="primary" href="/calendario">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label>Egutegia</ion-label>
        </ion-item>
        <ion-item color="primary" href="/clientes">
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>Bezeroak</ion-label>
        </ion-item>
        <ion-item color="primary" href="/servicios">
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <ion-label>Zerbitzuak</ion-label>
        </ion-item>
        <ion-item color="primary" href="/inventario">
          <ion-icon slot="start" name="cube-outline"></ion-icon>
          <ion-label>Inbentarioa</ion-label>
        </ion-item>
        <ion-item color="primary" href="/administracion">
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <ion-label>Administrazioa</ion-label>
        </ion-item>
        <ion-item color="primary" href="/tickets">
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <ion-label>Tickets-ak</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>