<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
    <div class="menu-container">
      <ion-list>
        <ion-item color="primary" href="/gestionar-citas">
          <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
          <ion-label>Citas</ion-label>
        </ion-item>
        <ion-item color="primary" href="/calendario">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label>Calendario</ion-label>
        </ion-item>
        <ion-item color="primary" href="/clientes">
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>Clientes</ion-label>
        </ion-item>
        <ion-item color="primary" href="/servicios">
          <ion-icon slot="start" name="cut-outline"></ion-icon>
          <ion-label>Servicios</ion-label>
        </ion-item>
        <ion-item color="primary" href="/inventario">
          <ion-icon slot="start" name="cube-outline"></ion-icon>
          <ion-label>Inventario</ion-label>
        </ion-item>
        <ion-item *ngIf="esProfe" color="primary" href="/administracion">
          <ion-icon slot="start" name="build-outline"></ion-icon>
          <ion-label>Administración</ion-label>
        </ion-item>
        <ion-item color="primary" href="/tickets">
          <ion-icon slot="start" name="documents-outline"></ion-icon>
          <ion-label>Tickets</ion-label>
        </ion-item>
        <ion-item *ngIf="modoOscuro" color="primary" (click)="ponerModoOscuro()">
          <ion-icon slot="start" name="moon-outline"></ion-icon>
          <ion-label>Modo oscuro</ion-label>
        </ion-item>   
         <ion-item *ngIf="!modoOscuro" color="primary" (click)="ponerModoOscuro()">
          <ion-icon slot="start" name="sunny-outline"></ion-icon>
          <ion-label>Modo claro</ion-label>
        </ion-item>              
        <ion-item color="primary" href="/home">
          <ion-icon slot="start" name="exit-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>
