<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Zerbitzuak</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor para los servicios -->
  <div class="services-container">
    <!-- Servicio: Corte de pelo -->
    <ion-card class="service-card">
      <img src="assets/Images/corte.png" alt="Corte de pelo">
      <ion-card-header>
        <ion-card-title>Ile mozketa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Mozketa moderno eta freskoa lortu.
      </ion-card-content>
    </ion-card>

    <!-- Servicio: Tinte de pelo -->
    <ion-card class="service-card">
      <img src="assets/Images/decolorado.jpg" alt="Tinte de pelo">
      <ion-card-header>
        <ion-card-title>Ile tindagaia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aldatu zure "look"-a gehien gustatzen zaizun kutsuarekin.
      </ion-card-content>
    </ion-card>

    <!-- Servicio: Peinado -->
    <ion-card class="service-card">
      <img src="assets/Images/peinado.jpg" alt="Peinado">
      <ion-card-header>
        <ion-card-title>Ile orrazketa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Orrazkera ikusgarria du edonorako.
      </ion-card-content>
    </ion-card>

    <ion-card class="service-card">
      <img src="assets/Images/hidra.jpg" alt="Tratamiento hidratante">
      <ion-card-header>
        <ion-card-title>Ile-tratamendu hidratatzailea
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Etxeko prezioa: 30€
      </ion-card-content>
    </ion-card>

    <ion-card class="service-card">
      <img src="assets/Images/alisado.jpg" alt="Tratamiento hidratante">
      <ion-card-header>
        <ion-card-title>Ilea lisatzea
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Etxeko prezioa: 50€
      </ion-card-content>
    </ion-card>

    <ion-card class="service-card">
      <img src="assets/Images/extensiones.jpg" alt="Tratamiento hidratante">
      <ion-card-header>
        <ion-card-title>Luzapenak
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Etxeko prezioa:50€
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
