<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Servicios</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor para los servicios -->
  <div class="services-container">
    <!-- Servicio: Corte de pelo -->
    <ion-card class="service-card">
      <img src="assets/Images/corte.png" alt="Corte de pelo">
      <ion-card-header>
        <ion-card-title>Corte de pelo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Obtén un corte moderno y fresco.
      </ion-card-content>
    </ion-card>

    <!-- Servicio: Tinte de pelo -->
    <ion-card class="service-card">
      <img src="assets/Images/decolorado.jpg" alt="Tinte de pelo">
      <ion-card-header>
        <ion-card-title>Tinte de pelo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Cambia tu look con el tinte que más te guste.
      </ion-card-content>
    </ion-card>

    <!-- Servicio: Peinado -->
    <ion-card class="service-card">
      <img src="assets/Images/peinado.jpg" alt="Peinado">
      <ion-card-header>
        <ion-card-title>Peinado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Luce un peinado espectacular para cualquier ocasión.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
