<ion-header [translucent]="true">
</ion-header>
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Crear trabajador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="crearLangile()">
    <ion-list>
      <form #LangileForm="ngForm" (ngSubmit)="crearLangile()" novalidate>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input
          [(ngModel)]="langile.izena"
          name="izena"
          placeholder="Introduce el nombre del trabajador"
          required
          #izena = "ngModel"
        ></ion-input>
        <ion-note *ngIf="izena.invalid && izena.touched" color="danger">
          El trabajador debe contener un nombre.
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input
          [(ngModel)]="langile.abizenak"
          name="abizena"
          placeholder="Introduce los apellidos del trabajador"
          required
          #abizena = "ngModel"
        ></ion-input>
        <ion-note *ngIf="abizena.invalid && abizena.touched" color="danger">
          El trabajador debe contener al menos un apellido.
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Seleccionar equipo</ion-label>
        <ion-select [(ngModel)]="equipoNombre" name="equipo" required (ionChange)="seleccionarEquipo()">
          <ion-select-option *ngFor="let equipo of equipos" [value]="equipo.kodea">
            {{ equipo.izena }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      
      
      <ion-button expand="full" type="submit" [disabled]="LangileForm.invalid" color="primary">
        Guardar trabajador
      </ion-button>
    </form>
    </ion-list>
  </form>
</ion-content>
