<ion-app>
  <!-- Contenido principal -->
  <ion-app class="ion-page" id="main-content">
    <!-- Header principal -->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>PRODUKTU MUGIMENDUAK</ion-title>
      </ion-toolbar>
    </ion-header>

<ion-content [fullscreen]="true" *ngIf="!mobilaDa">
<!-- Buscador -->
<ion-searchbar
search-icon="search-circle"
[placeholder]="'Buscar Materiales'"
(ionInput)="aplicarFiltro($event)">
</ion-searchbar>

<!-- Selector de materiales por página -->
<div class="productos-por-pagina">
<ion-item class="producto-item">
<ion-label size="small">Ordenar por:</ion-label>
<ion-select [(ngModel)]="maileguakPorPagina" interface="popover" size="small" (ionChange)="cambiarPagina(1)">
  <ion-select-option [value]="5">5</ion-select-option>
  <ion-select-option [value]="10">10</ion-select-option>
  <ion-select-option [value]="25">25</ion-select-option>
  <ion-select-option [value]="50">50</ion-select-option>
  <ion-select-option [value]="100">100</ion-select-option>
</ion-select>
</ion-item>
</div>

<!-- Paginación -->
<ion-row>
<ion-col>
  <ion-button *ngFor="let page of hacerPaginacion()" (click)="cambiarPagina(page)">
    {{ page }}
  </ion-button>
</ion-col>
</ion-row>

<!-- Fila de edición visible solo en modo edición -->
<ion-row *ngIf="editandoIPM">
<ion-col size="12">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Editar Material</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #materialForm="ngForm" (ngSubmit)="confirmarEdicion()" novalidate>
        <ion-item>
          <ion-label position="floating">ID</ion-label>
          <ion-input [(ngModel)]="IPMSeleccionado.id" name="id" #id="ngModel" readonly></ion-input>
        </ion-item>

        <!-- Selección de Material -->
        <ion-item>
          <ion-label position="floating">Material</ion-label>
          <ion-select [(ngModel)]="IPMSeleccionado.materiala_id" name="materiala" required>
            <ion-select-option *ngFor="let material of materiales" [value]="material.id">
              {{ material.izena }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Selección de Trabajador -->
        <ion-item>
          <ion-label position="floating">Trabajador</ion-label>
          <ion-select [(ngModel)]="IPMSeleccionado.idLangilea" name="langilea" required>
            <ion-select-option *ngFor="let trabajador of trabajadores" [value]="trabajador.id">
              {{ trabajador.izena }} {{ trabajador.abizenak }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha de inicio</ion-label>
          <ion-input [(ngModel)]="IPMSeleccionado.hasieraData" name="hasiera_Data" #hasiera_Data="ngModel" required type="date"></ion-input>
          <ion-note *ngIf="hasiera_Data.invalid && hasiera_Data.touched" color="danger">
            Fecha de inicio es obligatoria
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha de fin</ion-label>
          <ion-input [(ngModel)]="IPMSeleccionado.amaieraData" name="amaiera_Data" #amaiera_Data="ngModel" required type="date"></ion-input>
          <ion-note *ngIf="amaiera_Data.invalid && amaiera_Data.touched" color="danger">
            Fecha de fin es obligatoria
          </ion-note>
        </ion-item>

        <ion-button expand="full" color="tertiary" type="submit" [disabled]="materialForm.invalid">Confirmar</ion-button>
        <ion-button expand="full" color="danger" (click)="cancelarEdicion()">Cancelar</ion-button>
        <ion-button *ngIf="esProfe" expand="full" class="custom-red-button" (click)="eliminarIPM()">
          Borrar préstamo
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>

<ion-row *ngIf="esProfe">
<ion-col size="12" class="ion-text-center">
  <ion-button color="primary" expand="block" [routerLink]="'/crear-ipm'">Añadir IPM
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button>
</ion-col>
</ion-row>

<!-- Fila de materiales -->
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <table class="custom-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Trabajador</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Fecha de creación</th>
            <th>Fecha de actualización</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mailegu of maileguakFiltrados | slice: (paginaActual - 1) * maileguakPorPagina : paginaActual * maileguakPorPagina">
            <td>{{ mailegu.id || '-' }}</td>
            <td>{{ obtenerNombreLangile(mailegu.langilea) }}</td>
            <td>{{ obtenerNombreProducto(mailegu.produktuak) }}</td>
            <td>{{ mailegu.kantitatea || '-' }}</td>
            <td>{{ mailegu.data_Zutabea ? (mailegu.data_Zutabea | date:'yyyy-MM-dd') : '-' }}</td>
            <td>{{ mailegu.data.sortze_data ? (mailegu.data.sortze_data | date:'yyyy-MM-dd') : '-' }}</td>
            <td>{{ mailegu.data.eguneratze_data ? (mailegu.data.eguneratze_data | date:'yyyy-MM-dd') : '-' }}</td>
            <td>
              <ion-button color="primary" (click)="editarIPM(mailegu)">Editar</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="mobilaDa">
  <!-- Buscador -->
  <ion-searchbar
    search-icon="search-circle"
    placeholder="Buscar Materiales"
    (ionInput)="aplicarFiltro($event)"
  ></ion-searchbar>

  <!-- Selector de productos por página -->
  <div class="productosPorPagina">
    <ion-item class="producto-item">
      <ion-label size="small">Ordenar por:</ion-label>
      <ion-select
        [(ngModel)]="maileguakPorPagina"
        interface="popover"
        size="small"
        (ionChange)="cambiarPagina(1)"
      >
        <ion-select-option [value]="5">5</ion-select-option>
        <ion-select-option [value]="10">10</ion-select-option>
        <ion-select-option [value]="25">25</ion-select-option>
        <ion-select-option [value]="50">50</ion-select-option>
        <ion-select-option [value]="100">100</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- Paginación -->
  <ion-row>
    <ion-col>
      <ion-button *ngFor="let page of hacerPaginacion()" (click)="cambiarPagina(page)">
        {{ page }}
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Fila de edición visible solo en modo edición -->
  <ion-row *ngIf="editandoIPM">
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Editar Material</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form #materialForm="ngForm" (ngSubmit)="confirmarEdicion()" novalidate>
            <ion-item>
              <ion-label position="floating">ID</ion-label>
              <ion-input [(ngModel)]="IPMSeleccionado.id" name="id" #id="ngModel" readonly></ion-input>
            </ion-item>

            <!-- Selección de Material -->
            <ion-item>
              <ion-label position="floating">Material</ion-label>
              <ion-select [(ngModel)]="IPMSeleccionado.materiala_id" name="materiala" required>
                <ion-select-option *ngFor="let material of materiales" [value]="material.id">
                  {{ material.izena }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <!-- Selección de Trabajador -->
            <ion-item>
              <ion-label position="floating">Trabajador</ion-label>
              <ion-select [(ngModel)]="IPMSeleccionado.idLangilea" name="langilea" required>
                <ion-select-option *ngFor="let trabajador of trabajadores" [value]="trabajador.id">
                  {{ trabajador.izena }} {{ trabajador.abizenak }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <!-- Fecha de inicio -->
            <ion-item>
              <ion-label position="floating">Fecha de inicio</ion-label>
              <ion-input
                [(ngModel)]="IPMSeleccionado.hasieraData"
                name="hasiera_Data"
                #hasiera_Data="ngModel"
                required
                type="date"
              ></ion-input>
              <ion-note *ngIf="hasiera_Data.invalid && hasiera_Data.touched" color="danger">
                Fecha de inicio es obligatoria
              </ion-note>
            </ion-item>

            <!-- Fecha de fin -->
            <ion-item>
              <ion-label position="floating">Fecha de fin</ion-label>
              <ion-input
                [(ngModel)]="IPMSeleccionado.amaieraData"
                name="amaiera_Data"
                #amaiera_Data="ngModel"
                required
                type="date"
              ></ion-input>
              <ion-note *ngIf="amaiera_Data.invalid && amaiera_Data.touched" color="danger">
                Fecha de fin es obligatoria
              </ion-note>
            </ion-item>

            <ion-button expand="full" color="tertiary" type="submit" [disabled]="materialForm.invalid">
              Confirmar
            </ion-button>
            <ion-button expand="full" color="danger" (click)="cancelarEdicion()">Cancelar</ion-button>
            <ion-button *ngIf="esProfe" expand="full" class="custom-red-button" (click)="eliminarIPM()">
              Borrar préstamo
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Botón para añadir préstamo -->
  <ion-row *ngIf="esProfe">
    <ion-col size="12" class="ion-text-center">
      <ion-button color="primary" expand="block" [routerLink]="'/crear-ipm'">
        Añadir IPM
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Fila de materiales -->
  <ion-row
    *ngFor="let mailegu of maileguakFiltrados | slice: (paginaActual - 1) * maileguakPorPagina : paginaActual * maileguakPorPagina"
  >
    <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
      <ion-card (click)="editarIPM(mailegu)">
        <ion-card-header>
          <ion-card-title>{{ obtenerNombreProducto(mailegu.produktuak) }} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>ID:</strong>{{ mailegu.id || '-' }}</p>
          <p><strong>Trabajador:</strong>{{ obtenerNombreLangile(mailegu.langilea) }}</p>
          <p><strong>Producto:</strong>{{ obtenerNombreProducto(mailegu.produktuak) }}</p>
          <p><strong>Producto:</strong>{{mailegu.kantitatea}}</p>
          <p><strong>Fecha:</strong>{{ mailegu.data_Zutabea ? (mailegu.data_Zutabea | date:'yyyy-MM-dd') : '-' }}</p>
          <p><strong>Fecha de Sortze:</strong>{{ mailegu.data.sortze_data ? (mailegu.data.sortze_data | date:'yyyy-MM-dd') : '-' }}</p>
          <p><strong>Fecha de Eguneratze:</strong>{{ mailegu.data.eguneratze_data ? (mailegu.data.eguneratze_data | date:'yyyy-MM-dd') : '-' }}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
</ion-app>
