<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>TXANDAK</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <!-- Select para elegir txanda -->
    <ion-item>
      <ion-label>Selecciona Txanda</ion-label>
      <ion-select [(ngModel)]="selectedTxandak" (ionChange)="onTxandaChange($event)">
        <ion-select-option *ngFor="let txanda of txandak; let i = index" [value]="txanda">
          Txanda {{ txanda.id }} 
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Mostrar detalles de la txanda seleccionada en un ion-card -->
    <ion-card *ngIf="selectedTxandak">
      <ion-card-header>
        <ion-card-title>Detalles del txanda</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>ID:</strong> {{ selectedTxandak.id }}</p>
        <p><strong>Fecha:</strong> {{ selectedTxandak.dataSimple | date: 'yyyy-MM-dd' }}</p>
        <p><strong>Tipo:</strong> {{ selectedTxandak.mota }}</p>
        <p><strong>Nombre del trabajador:</strong> {{ selectedTxandak.langilea.izena }} {{ selectedTxandak.langilea.abizenak }}</p>
        <p><strong>Fecha de creación:</strong> {{ selectedTxandak.data.sortze_data | date: 'yyyy-MM-dd' }}</p>
        <p><strong>Fecha de actualización:</strong> {{ selectedTxandak.data.eguneratze_data | date: 'yyyy-MM-dd' }}</p>
      </ion-card-content>
      <ion-button color="tertiary" shape="round" fill="solid" (click)="(selectedTxandak)">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        Editar
      </ion-button>
    </ion-card>

    <!-- Tarjeta emergente para editar -->
    <ion-card *ngIf="editando" class="edit-card">
      <ion-card-header>
        <ion-card-title>Editar txanda</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Tipo -->
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-input type="text" [(ngModel)]="editingTxandak.mota"></ion-input>
        </ion-item>

        <!-- Trabajador -->
        <ion-item>
          <ion-label>Trabajador</ion-label>
          <ion-select [(ngModel)]="editingTxandak.langilea.id" placeholder="Selecciona un trabajador">
            <ion-select-option *ngFor="let trabajador of trabajadores" [value]="trabajador.id">
              {{ trabajador.izena }} {{ trabajador.abizenak }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Botones -->
        <ion-item class="ion-text-center">
          <ion-button color="success" expand="full" (click)="guardarCambios()">Guardar</ion-button>
          <ion-button color="danger" expand="full" (click)="editando = false">Cancelar</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Botón para sumar txanda -->
    <div class="center-button ion-text-center">
      <ion-button routerLink="/crear-txanda" color="primary" shape="round">
        Sumar txanda
      </ion-button>
    </div>
  </ion-content>
</ion-content>
