<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>ORDUTEGIAK</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <!-- Select para elegir txanda -->
    <ion-item>
      <ion-label>Selecciona Txanda</ion-label>
      <ion-select [(ngModel)]="selectedOrdutegi" (ionChange)="onTxandaChange($event)">
        <ion-select-option *ngFor="let ordutegi of ordutegiak; let i = index" [value]="ordutegi">
          Equipo: {{ getEquipoNombre(ordutegi.kodea) }} - Eguna: {{ egunaStringEgin(i) }} 
          - De: {{ ordutegi.denbora.hasiera_ordua }} A: {{ ordutegi.denbora.amaiera_ordua }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Mostrar detalles de la txanda seleccionada en un ion-card -->
    <ion-card *ngIf="selectedOrdutegi">
      <ion-card-header>
        <ion-card-title>Detalles del ordutegi</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Equipo:</strong> {{ getEquipoNombre(selectedOrdutegi.kodea) }}</p>
        <p><strong>Fecha:</strong> {{ selectedOrdutegi.hasiera_data | date: 'yyyy-MM-dd' }}</p>
        <p><strong>Día:</strong> {{ selectedOrdutegi.hasiera_data | date: 'yyyy-MM-dd' }}</p>
        <p><strong>Hora de Inicio:</strong>{{ egunaStringEgin(selectedOrdutegi.eguna) }}</p>
        <p><strong>Hora de Fin:</strong> {{ selectedOrdutegi.denbora.amaiera_ordua }}</p>
      </ion-card-content>
    </ion-card>

    <!-- Botón centrado -->
    <div class="center-button">
      <ion-button routerLink="/crear-ordutegi" color="primary" shape="round">
        Sumar ordutegi
      </ion-button>
    </div>
  </ion-content>
</ion-content>
