<ion-content>
  <div class="card-container">
    <form #fichaForm="ngForm" (ngSubmit)="guardarCategoria()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ 'CREAR_CATEGORIA.TITULO' | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <!-- Nombre Input -->
            <ion-item>
              <ion-label position="stacked">{{ 'CREAR_CATEGORIA.NOMBRE' | translate }}</ion-label>
              <ion-input
                [(ngModel)]="categoria.izena"
                name="izena"
                placeholder="{{ 'CREAR_CATEGORIA.INTRODUCE_NOMBRE' | translate }}"
                required
              ></ion-input>
            </ion-item>

          </ion-list>

          <!-- Save Button -->
          <ion-button
            expand="full"
            type="submit"
            color="tertiary"
            [disabled]="fichaForm.invalid"
            >{{ 'CREAR_CATEGORIA.GUARDAR' | translate }}</ion-button
          >
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
