<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Materiales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Header de la página -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Materiales de Peluquería</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!-- Encabezados de la tabla solo cuando no es móvil -->
    <ion-row *ngIf="!mobilaDa">
      <ion-col size="2" class="ion-text-center"><strong>ID</strong></ion-col>
      <ion-col size="3" class="ion-text-center"><strong>Nombre</strong></ion-col>
      <ion-col size="2" class="ion-text-center"><strong>Tipo</strong></ion-col>
      <ion-col size="2" class="ion-text-center"><strong>Marca</strong></ion-col>
      <ion-col size="2" class="ion-text-center"><strong>Stock</strong></ion-col>
    </ion-row>

    <!-- Filas de datos -->
    <ion-row *ngFor="let material of materiales">
      <ion-col size="2" class="ion-text-center" data-label="ID">{{ material.id }}</ion-col>
      <ion-col size="3" class="ion-text-center" data-label="Nombre">{{ material.nombre }}</ion-col>
      <ion-col size="2" class="ion-text-center" data-label="Tipo">{{ material.tipo }}</ion-col>
      <ion-col size="2" class="ion-text-center" data-label="Marca">{{ material.marca }}</ion-col>
      <ion-col size="2" class="ion-text-center" data-label="Stock">{{ material.stock }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
