<ion-app>
  <app-menu-header></app-menu-header>
  <!-- Contenido principal -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'MATERIALES.TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" *ngIf="!mobilaDa">
    <ion-searchbar search-icon="search-circle" [placeholder]="'MATERIALES.SEARCH' | translate"
      (ionInput)="aplicarFiltro($event)">
    </ion-searchbar>

    <!-- Selector de materiales por página -->
    <div class="productos-por-pagina">
      <ion-item class="producto-item">
        <ion-label size="small">{{title}}:</ion-label>
        <ion-select [(ngModel)]="materialesPorPagina" interface="popover" size="small" (ionChange)="cambiarPagina(1)">
          <ion-select-option [value]="5">5</ion-select-option>
          <ion-select-option [value]="10">10</ion-select-option>
          <ion-select-option [value]="25">25</ion-select-option>
          <ion-select-option [value]="50">50</ion-select-option>
          <ion-select-option [value]="100">100</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <!-- Filtros de ordenación -->
    <div class="ordenacion-filtros">
      <ion-item>
        <ion-label>{{ 'MATERIALES.ORDENAR' | translate }}</ion-label>
        <ion-select [(ngModel)]="ordenActual.columna" interface="popover" (ionChange)="ordenarPor(ordenActual.columna)">
          <ion-select-option value="id">{{ 'MATERIALES.ID' | translate }}</ion-select-option>
          <ion-select-option value="izena">{{ 'MATERIALES.NOMBRE' | translate }}</ion-select-option>
          <ion-select-option value="etiketa">{{ 'MATERIALES.ETIKETA' | translate }}</ion-select-option>
          <ion-select-option *ngIf="!esHistorial" value="sortze_data">{{ 'MATERIALES.FECHA_CREACION' | translate
            }}</ion-select-option>
          <ion-select-option *ngIf="!esHistorial" value="eguneratze_data">{{ 'MATERIALES.FECHA_ACTUALIZACION' |
            translate }}</ion-select-option>
          <ion-select-option *ngIf="esHistorial" value="ezabatze_data">{{ 'MATERIALES.FECHA_BORRADO' | translate
            }}</ion-select-option>
        </ion-select>

        <ion-select [(ngModel)]="ordenActual.ascendente" interface="popover"
          (ionChange)="ordenarPor(ordenActual.columna)">
          <ion-select-option value="true">{{ 'MATERIALES.ASCENDENTE' | translate }}</ion-select-option>
          <ion-select-option value="false">{{ 'MATERIALES.DESCENDENTE' | translate }}</ion-select-option>
          <ion-label slot="start">
            {{ ordenActual.ascendente === true ? ('MATERIALES.ASCENDENTE' | translate) : ('MATERIALES.DESCENDENTE' |
            translate) }}
          </ion-label>
        </ion-select>
      </ion-item>
    </div>

    <!-- Paginación -->
    <ion-row>
      <ion-col>
        <ion-button *ngFor="let page of hacerPaginacion()" (click)="cambiarPagina(page)">
          {{ page }}
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Fila de edición visible solo en modo edición -->
    <ion-row *ngIf="editandoMaterial">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ 'MATERIALES.EDITAR_MATERIAL' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form #materialForm="ngForm" (ngSubmit)="confirmarEdicion()" novalidate>
              <ion-item>
                <ion-label position="floating">{{ 'MATERIALES.ID' | translate }}</ion-label>
                <ion-input [(ngModel)]="materialSeleccionado.id" name="id" #id="ngModel" readonly></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">{{ 'MATERIALES.NAME' | translate }}</ion-label>
                <ion-input [(ngModel)]="materialSeleccionado.izena" name="izena" #izena="ngModel" required></ion-input>
                <ion-note *ngIf="izena.invalid && izena.touched" color="danger">
                  {{ 'MATERIALES.NAME_OBLIGATORIO' | translate }}
                </ion-note>
              </ion-item>
              <ion-item>
                <ion-label position="floating">{{ 'MATERIALES.LABEL' | translate }}</ion-label>
                <ion-input [(ngModel)]="materialSeleccionado.etiketa" name="etiketa" #etiketa="ngModel"
                  required></ion-input>
                <ion-note *ngIf="etiketa.invalid && etiketa.touched" color="danger">
                  {{ 'MATERIALES.LABEL_OBLIGATORIO' | translate }}
                </ion-note>
              </ion-item>
              <!-- Tienes que poner informacion del historial cuando este -->
              <ion-button expand="full" color="tertiary" (click)="confirmarEdicion()" type="submit"
                [disabled]="materialForm.invalid">{{ 'MATERIALES.CONFIRMAR' | translate }}</ion-button>
              <ion-button expand="full" color="danger" (click)="cancelarEdicion()">{{ 'MATERIALES.CANCELAR' | translate
                }}</ion-button>
              <ion-button *ngIf="esProfe" expand="full" class="custom-red-button" (click)="eliminarMaterial()">
                {{ 'MATERIALES.BORRAR_MATERIAL' | translate }}
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="esProfe">
      <ion-col size="12" class="ion-text-center">
        <ion-button color="primary" expand="block" [routerLink]="'/crearmaterial'">{{ 'MATERIALES.AÑADIR_MATERIAL' |
          translate }}
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Fila de materiales -->
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <table class="custom-table">
            <thead>
              <tr>
                <th>{{ 'MATERIALES.ID' | translate }}</th>
                <th>{{ 'MATERIALES.NOMBRE' | translate }}</th>
                <th>{{ 'MATERIALES.ETIQUETA' | translate }}</th>
                <th>{{ 'MATERIALES.FECHA_CREACION' | translate }}</th>
                <th>{{ 'MATERIALES.FECHA_ACTUALIZACION' | translate }}</th>
                <th>{{ 'MATERIALES.ACTIVIDADES' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let material of materialesFiltrados | slice: (paginaActual - 1) * materialesPorPagina : paginaActual * materialesPorPagina">
                <td>{{ material.id || '-' }}</td>
                <td>{{ material.izena || '-' }}</td>
                <td>{{ material.etiketa || '-' }}</td>
                <td>{{ material.data.sortze_data | date:'yyyy-MM-dd' }}</td>
                <td>{{ material.data.eguneratze_data ? (material.data.eguneratze_data | date:'yyyy-MM-dd') : '-' }}
                </td>
                <td>
                  <ion-button color="primary" (click)="editarMaterial(material)">{{ 'MATERIALES.EDITAR' | translate
                    }}</ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
    <!--MOVIL-->

    <ion-content [fullscreen]="true" *ngIf="mobilaDa">
      <!-- Buscador -->
      <ion-searchbar search-icon="search-circle" [placeholder]="search" (ionInput)="aplicarFiltro($event)">
      </ion-searchbar>

      <!-- Selector de productos por página -->
      <div class="productosPorPagina">
        <ion-item class="producto-item">
          <ion-label size="small">{{ 'MATERIALES.TITLE' | translate }}:</ion-label>
          <ion-select [(ngModel)]="materialesPorPagina" interface="popover" size="small" (ionChange)="cambiarPagina(1)">
            <ion-select-option [value]="5">5</ion-select-option>
            <ion-select-option [value]="10">10</ion-select-option>
            <ion-select-option [value]="25">25</ion-select-option>
            <ion-select-option [value]="50">50</ion-select-option>
            <ion-select-option [value]="100">100</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="ordenacion-filtros">
        <ion-item>
          <ion-label>{{ 'MATERIALES.ORDENAR_POR' | translate }}</ion-label>
          <ion-select [(ngModel)]="ordenActual.columna" interface="popover"
            (ionChange)="ordenarPor(ordenActual.columna)">
            <ion-select-option value="id">{{ 'MATERIALES.ID' | translate }}</ion-select-option>
            <ion-select-option value="izena">{{ 'MATERIALES.NAME' | translate }}</ion-select-option>
            <ion-select-option value="etiketa">{{ 'MATERIALES.LABEL' | translate }}</ion-select-option>
            <ion-select-option *ngIf="!esHistorial" value="sortze_data">{{ 'MATERIALES.FECHA_CREACION' | translate
              }}</ion-select-option>
            <ion-select-option *ngIf="!esHistorial" value="eguneratze_data">{{ 'MATERIALES.FECHA_ACTUALIZACION' |
              translate }}</ion-select-option>
            <ion-select-option *ngIf="esHistorial" value="ezabatze_data">{{ 'MATERIALES.FECHA_BORRADO' | translate
              }}</ion-select-option>
          </ion-select>

          <ion-label>{{ 'MATERIALES.ORDENAR' | translate }}</ion-label>
          <ion-select [(ngModel)]="ordenActual.ascendente" interface="popover"
            (ionChange)="ordenarPor(ordenActual.columna)">
            <ion-select-option value="true">{{ 'MATERIALES.ASCENDENTE' | translate }}</ion-select-option>
            <ion-select-option value="false">{{ 'MATERIALES.DESCENDENTE' | translate }}</ion-select-option>
            <ion-label slot="start">
              {{ ordenActual.ascendente === true ? ('MATERIALES.ASCENDENTE' | translate) : ('MATERIALES.DESCENDENTE' |
              translate) }}
            </ion-label>
          </ion-select>
        </ion-item>
      </div>

      <!-- Paginación -->
      <ion-row>
        <ion-col>
          <ion-button *ngFor="let page of hacerPaginacion()" (click)="cambiarPagina(page)">
            {{ page }}
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Fila de edición visible solo en modo edición -->
      <ion-row *ngIf="editandoMaterial">
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ 'MATERIALES.EDITAR_MATERIAL' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <form #materialForm="ngForm" (ngSubmit)="confirmarEdicion()" novalidate>
                <ion-item>
                  <ion-label position="floating">{{ 'MATERIALES.ID' | translate }}</ion-label>
                  <ion-input [(ngModel)]="materialSeleccionado.id" name="id" #id="ngModel" readonly></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">{{ 'MATERIALES.NAME' | translate }}</ion-label>
                  <ion-input [(ngModel)]="materialSeleccionado.izena" name="izena" #izena="ngModel"
                    required></ion-input>
                  <ion-note *ngIf="izena.invalid && izena.touched" color="danger">
                    {{ 'MATERIALES.NAME_OBLIGATORIO' | translate }}
                  </ion-note>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">{{ 'MATERIALES.LABEL' | translate }}</ion-label>
                  <ion-input [(ngModel)]="materialSeleccionado.etiketa" name="etiketa" #etiketa="ngModel"
                    required></ion-input>
                  <ion-note *ngIf="etiketa.invalid && etiketa.touched" color="danger">
                    {{ 'MATERIALES.LABEL_OBLIGATORIO' | translate }}
                  </ion-note>
                </ion-item>
                <!-- Tienes que poner informacion del historial cuando este -->
                <ion-button expand="full" (click)="confirmarEdicion()" type="submit"
                  [disabled]="materialForm.invalid">{{ 'MATERIALES.CONFIRMAR' | translate }}</ion-button>
                <ion-button expand="full" color="danger" (click)="cancelarEdicion()">{{ 'MATERIALES.CANCELAR' |
                  translate }}</ion-button>
                <ion-button *ngIf="esProfe" expand="full" class="custom-red-button" (click)="eliminarMaterial()">
                  {{ 'MATERIALES.BORRAR_MATERIAL' | translate }}
                </ion-button>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="esProfe">
        <ion-col size="12" class="ion-text-center">
          <ion-button color="primary" expand="block" [routerLink]="'/crearmaterial'">{{ 'MATERIALES.ANADIR_MATERIAL' |
            translate }}
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Fila de materiales -->
      <ion-row justify-content-center
        *ngFor="let material of materialesFiltrados | slice: (paginaActual - 1) * materialesPorPagina : paginaActual * materialesPorPagina">
        <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
          <ion-card *ngIf="materialSeleccionado.id !== material.id" (click)="editarMaterial(material)">
            <ion-card-header>
              <ion-card-title>{{ material.izena || '-' }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p><strong>{{ 'MATERIALES.ID' | translate }}:</strong> {{ material.id || '-' }}</p>
              <p><strong>{{ 'MATERIALES.LABEL' | translate }}:</strong> {{ material.etiketa || '-' }}</p>
              <p><strong>{{ 'MATERIALES.CREATION_DATE' | translate }}:</strong> {{ material.data.sortze_data |
                date:'yyyy-MM-dd' }}</p>
              <p><strong>{{ 'MATERIALES.UPDATE_DATE' | translate }}:</strong> {{ material.data.eguneratze_data ?
                (material.data.eguneratze_data | date:'yyyy-MM-dd') : '-' }}</p>
              <ion-button color="tertiary" (click)="editarMaterial(material)">{{ 'MATERIALES.EDIT' | translate
                }}</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-content>

</ion-app>