/* General para columnas */
ion-col {
  padding: 8px;
  text-align: left;
  color: black;
}

/* Datos en móviles */
ion-col[data-label]:before {
  content: attr(data-label);
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
  color: black;
}

/* Botón centrado */
ion-button {
  display: block;
  margin: 10px auto;
}

/* Responsividad para pantallas móviles */
@media (max-width: 768px) {
  ion-row {
    flex-direction: column;
  }
  ion-col {
    display: block;
    width: 100;
  }
}
