<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Citas del día</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Citas - {{ fechaSeleccionada }}</h1>

    <!-- Botón para ir a la página de citas con la fecha seleccionada -->
    <ion-button expand="block" (click)="irACitas()">Reservar</ion-button>

    <!-- Tabla de citas -->
    <ion-grid>
      <ion-row>
        <!-- Encabezados de la tabla -->
        <ion-col size="2"><strong>Asiento</strong></ion-col>
        <ion-col size="2"><strong>Nombre</strong></ion-col>
        <ion-col size="2"><strong>Hora de Inicio</strong></ion-col>
        <ion-col size="2"><strong>Hora de Fin</strong></ion-col>
        <ion-col size="2"><strong>Teléfono</strong></ion-col>
        <ion-col size="2"><strong>Descripción</strong></ion-col>
      </ion-row>

      <!-- Fila por cada cita -->
      <ion-row *ngFor="let cita of citas">
        <ion-col size="2">{{ cita.eserlekua }}</ion-col>
        <ion-col size="2">{{ cita.izena || '' }}</ion-col>
        <ion-col size="2">{{ cita.hasiera_ordua || ' ' }}</ion-col>
        <ion-col size="2">{{ cita.amaiera_ordua || ' ' }}</ion-col>
        <ion-col size="2">{{ cita.telefonoa || ' ' }}</ion-col>
        <ion-col size="2">{{ cita.deskribapena || ' ' }}</ion-col>
      </ion-row>      
    </ion-grid>
  </div>
</ion-content>
