<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Stock-a</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!-- Encabezados visibles solo en pantallas grandes -->
    <ion-row *ngIf="!mobilaDa">
      <ion-col size="2" class="ion-text-center"><strong>ID-a</strong></ion-col>
      <ion-col size="3" class="ion-text-center"><strong>Izena</strong></ion-col>
      <ion-col size="2" class="ion-text-center"><strong>Mota</strong></ion-col>
      <ion-col size="2" class="ion-text-center"><strong>Marka</strong></ion-col>
      <ion-col size="2" class="ion-text-center"><strong>"Stock"-a</strong></ion-col>
    </ion-row>

    <!-- Fila de edición solo aparece en modo edición y en vista movil -->
    <ion-row *ngIf="editandoMaterial">
      <ion-col size="12" size-md="2" class="ion-text-center">
        <ion-input [(ngModel)]="materialSeleccionado.id"></ion-input>
      </ion-col>
      <ion-col size="12" size-md="3" class="ion-text-center">
        <ion-input [(ngModel)]="materialSeleccionado.nombre"></ion-input>
      </ion-col>
      <ion-col size="12" size-md="2" class="ion-text-center">
        <ion-input [(ngModel)]="materialSeleccionado.tipo"></ion-input>
      </ion-col>
      <ion-col size="12" size-md="2" class="ion-text-center">
        <ion-input [(ngModel)]="materialSeleccionado.marca"></ion-input>
      </ion-col>
      <ion-col size="12" size-md="2" class="ion-text-center">
        <ion-input [(ngModel)]="materialSeleccionado.stock"></ion-input>
      </ion-col>
      <!-- Botones centrados -->
      <ion-col size="12" class="ion-text-center botones-edicion">
        <ion-button *ngIf="editandoMaterial" (click)="confirmarEdicion()">Konfirmatu</ion-button>
        <ion-button *ngIf="editandoMaterial" color="danger" (click)="cancelarEdicion()">Kantzelatu</ion-button>
        <ion-button *ngIf="!editandoMaterial" (click)="editarMaterial(materialSeleccionado)">Editatu</ion-button>
      </ion-col>
    </ion-row>
    

    <ion-row *ngFor="let material of materiales">
      <ion-col *ngIf="mobilaDa" size="12">
        <p><strong>ID-a:</strong> {{ material.id }}</p>
        <p><strong>Izena:</strong> {{ material.nombre }}</p>
        <p><strong>Mota:</strong> {{ material.tipo }}</p>
        <p><strong>Marka:</strong> {{ material.marca }}</p>
        <p><strong>"Stock"-a:</strong> {{ material.stock }}</p>
      </ion-col>
      <ion-col *ngIf="!mobilaDa" size="2" class="ion-text-center">{{ material.id }}</ion-col>
      <ion-col *ngIf="!mobilaDa" size="3" class="ion-text-center">{{ material.nombre }}</ion-col>
      <ion-col *ngIf="!mobilaDa" size="2" class="ion-text-center">{{ material.tipo }}</ion-col>
      <ion-col *ngIf="!mobilaDa" size="2" class="ion-text-center">{{ material.marca }}</ion-col>
      <ion-col *ngIf="!mobilaDa" size="2" class="ion-text-center">{{ material.stock }}</ion-col>
      <!-- Solo el botón de "Editar" cuando no estás editando -->
      <ion-col size="12" class="ion-text-center" *ngIf="!editandoMaterial">
        <ion-button (click)="editarMaterial(material)">Editatu</ion-button>
      </ion-col>
    </ion-row>
    <ion-button (click)="produktuGehitu()">Produktuak gehitu</ion-button>
  </ion-grid>
</ion-content>
