<ion-app>
  <app-menu-header></app-menu-header>

  <ion-content id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'GESTION_CITAS.TITLE' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="container" *ngIf="mobilaDa">
      <h1>{{ 'GESTION_CITAS.TITLE' | translate }}</h1>

      <!-- Mostrar citas -->
      <div *ngIf="citas && citas.length > 0" class="citas-container">
        <div *ngFor="let cita of citas" (click)="abrirModal(cita)" class="cita-card">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ cita.izena }} - {{ cita.data }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{ cita.hasiera_ordua }} - {{ cita.amaiera_ordua }}</p>
              <p>{{ cita.deskribapena }}</p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <!-- Modal -->
      <ion-modal [isOpen]="modalAbierto" (ionModalDidDismiss)="cerrarModal()">
        <ng-template>
          <ion-header>
            <ion-toolbar color="primary">
              <ion-title>{{ 'GESTION_CITAS.DETAILS_TITLE' | translate }}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="cerrarModal()">X</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content class="modal-content">
            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.ID' | translate }}:</ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.id"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.SEAT' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.eserlekua"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.DATE' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.data"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.START_TIME' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.hasiera_ordua"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.END_TIME' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.amaiera_ordua"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.NAME' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.izena"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.PHONE' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.telefonoa"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.DESCRIPTION' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.deskribapena"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.FROM_HOME' | translate }}: </ion-label>
              <ion-input [(ngModel)]="etxekoa"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.TOTAL_PRICE' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.prezio_totala"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.SERVICE' | translate }}</ion-label>
              <ion-select formControlName="zerbitzuak" (ionChange)="servicioChange($event)">
                <ion-select-option *ngFor="let servicio of listaServicios" [value]="servicio.id">
                  {{ servicio.izena }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-footer>
              <ion-buttons>
                <ion-button style="--background: var(--ion-color-tertiary); --color: white;" (click)="confirmarCambios()">{{ 'GESTION_CITAS.CONFIRM' | translate }}</ion-button>
                <ion-button style="--background: var(--ion-color-danger); --color: white;" (click)="cancelarCambios()">{{ 'GESTION_CITAS.DELETE' | translate }}</ion-button>
                <ion-button style="--background: var(--ion-color-warning); --color: white;" (click)="imprimirTicket()">{{ 'GESTION_CITAS.PRINT_TICKET' | translate }}</ion-button>
              </ion-buttons>
            </ion-footer>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
    
    <div class="container" *ngIf="!mobilaDa">
    
      <h1>{{ 'GESTION_CITAS.CITAS_PROGRAMADAS' | translate }}</h1>
      <table class="citas-table" *ngIf="citas && citas.length > 0">
        <thead>
          <tr>
            <th>{{ 'GESTION_CITAS.NAME' | translate }}</th>
            <th>{{ 'GESTION_CITAS.DATE' | translate }}</th>
            <th>{{ 'GESTION_CITAS.START_TIME' | translate }}</th>
            <th>{{ 'GESTION_CITAS.END_TIME' | translate }}</th>
            <th>{{ 'GESTION_CITAS.DESCRIPTION' | translate }}</th>
            <th>{{ 'GESTION_CITAS.ACCIONES' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citas">
            <td>{{ cita.izena }}</td>
            <td>{{ cita.data }}</td>
            <td>{{ cita.hasiera_ordua }}</td>
            <td>{{ cita.amaiera_ordua }}</td>
            <td>{{ cita.deskribapena }}</td>
            <td>
              <!-- Botón para abrir el modal de detalles -->
              <ion-button (click)="abrirModal(cita)">Ver detalles</ion-button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Modal de detalles de la cita -->
      <ion-modal [isOpen]="modalAbierto" (ionModalDidDismiss)="cerrarModal()">
        <ng-template>
          <ion-header>
            <ion-toolbar color="primary">
              <ion-title>{{ 'GESTION_CITAS.DETAILS_TITLE' | translate }}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="cerrarModal()">X</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content class="modal-content">
            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.ID' | translate }}:</ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.id"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.SEAT' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.eserlekua"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.DATE' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.data"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.START_TIME' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.hasiera_ordua"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.END_TIME' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.amaiera_ordua"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.NAME' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.izena"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.PHONE' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.telefonoa"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.DESCRIPTION' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.deskribapena"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.FROM_HOME' | translate }}: </ion-label>
              <ion-input [(ngModel)]="etxekoa"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.TOTAL_PRICE' | translate }}: </ion-label>
              <ion-input [(ngModel)]="citaSeleccionada.prezio_totala"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">{{ 'GESTION_CITAS.SERVICE' | translate }}</ion-label>
              <ion-select formControlName="zerbitzuak" (ionChange)="servicioChange($event)">
                <ion-select-option *ngFor="let servicio of listaServicios" [value]="servicio.id">
                  {{ servicio.izena }}
                </ion-select-option>
              </ion-select>
            </ion-item>


            <ion-footer>
              <ion-buttons>
                <ion-button style="--background: var(--ion-color-tertiary); --color: white;" (click)="confirmarCambios()">{{ 'GESTION_CITAS.CONFIRM' | translate }}</ion-button>
                <ion-button style="--background: var(--ion-color-danger); --color: white;" (click)="cancelarCambios()">{{ 'GESTION_CITAS.DELETE' | translate }}</ion-button>
                <ion-button style="--background: var(--ion-color-warning); --color: white;" (click)="imprimirTicket()">{{ 'GESTION_CITAS.PRINT_TICKET' | translate }}</ion-button>
              </ion-buttons>
            </ion-footer>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </ion-content>
</ion-app>
