/* Estilos generales de la página */
.page {
    --background: #f0f0f0; /* Fondo de color claro */
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilos para los botones */
  .confirmar-button {
    --background: #ffcc00; /* Amarillo */
    --border-radius: 5px;
    --color: white;
  }
  
  .cancelar-button {
    --background: #ff4444; /* Rojo */
    --border-radius: 5px;
    --color: white;
  }
  
  /* Estilos del modal */
  .modal-content {
    --background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-footer {
    text-align: center;
  }
  
  ion-button {
    width: 48%;
    margin: 0 2%;
  }
  