//Menu
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    height: 100vh;
    box-sizing: border-box;
    margin-top: 20px;
}

ion-toolbar ion-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

ion-toolbar {
    --background: #1c345c;
    --color: #fff;
}

ion-item {
    background-color: #1c345c !important;
    --color: black;
    --inner-border-width: 0 !important;
    --background-hover: #9eb9e7;
    border-bottom: 1px solid #ccc;
}

.menu-container ion-item {
    --min-height: 80px;
}

ion-menu ion-list {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1c345c !important;
}

.botones {
    margin-top: 20px;
}