<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <!-- Selector de idioma -->
      <ion-button (click)="changeLanguage('eu')">
        <img src="assets/icon/euskera.png" alt="Euskera" style="width: 24px; height: 24px; margin-right: 5px;"> EU
      </ion-button>
      
      <ion-button (click)="changeLanguage('es')">
        <img src="assets/icon/spain.png" alt="Castellano" style="width: 24px; height: 24px; margin-right: 5px;"> ES
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-page">
  <ion-grid>
    <!-- Imagen -->
    <ion-row class="image-row">
      <ion-col size="12" class="ion-text-center">
        <img src="assets/Images/stzLH.jpg" alt="Peluquería Santurtzi LH" class="login-image" />
      </ion-col>
    </ion-row>

    <!-- Formulario de inicio de sesión -->
    <ion-row class="form-row">
      <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-card class="login-card">
          <ion-card-header>
            <ion-card-title>{{ welcomeMessage }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form (submit)="login()">
              <!-- Campo de nombre -->
              <ion-item color="primary">
                <ion-label position="floating">{{ nameLabel }}</ion-label>
                <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
              </ion-item>

              <!-- Campo de contraseña -->
              <ion-item color="primary">
                <ion-label position="floating">{{ passwordLabel }}</ion-label>
                <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
              </ion-item>

              <!-- Mensaje de error -->
              <ion-text color="danger" *ngIf="errorMessage">
                <p>{{ errorMessage }}</p>
              </ion-text>

              <!-- Botón de envío -->
              <ion-button expand="block" type="submit" color="primary" class="submit-button">
                {{ submitLabel }}
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
