/* Centrar contenido vertical y horizontalmente */
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
}

/* Imagen responsiva */
.login-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Estilo del formulario */
.login-card {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
}

/* Título centrado */
ion-card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Ítems del formulario */
ion-item {
  margin-top: 15px;
  border-radius: 10px;
}

/* Botón principal */
.submit-button {
  margin-top: 20px;
  padding: 10px;
}

/* Filas con espaciado */
.image-row {
  margin-bottom: 30px;
  margin-top: 30px;
}

.form-row {
  margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 767px) {
  .login-image {
    max-width: 150px; /* Reduce la imagen en pantallas más pequeñas */
  }

  .login-card {
    width: 90%; /* Aumenta el ancho del formulario en pantallas pequeñas */
  }

  ion-card-title {
    font-size: 1.2rem; /* Reduce el tamaño de la fuente del título */
  }

  .submit-button {
    padding: 12px; /* Aumenta el padding del botón */
  }
}

/* Ajustes para pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
  .login-card {
    width: 80%; /* Ancho del formulario más pequeño en pantallas medianas */
  }

  .login-image {
    max-width: 180px; /* Ajusta el tamaño de la imagen */
  }
}

/* Ajustes para pantallas grandes */
@media (min-width: 1024px) {
  .login-card {
    width: 60%; /* Ancho del formulario más grande en pantallas grandes */
  }

  .login-image {
    max-width: 200px; /* Imagen más grande */
  }
}
