ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ion-row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Espaciado entre filas */
  }
  
  .buttons-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espaciado entre botones */
  }
  
  ion-button {
    width: 100%;
    max-width: 200px; /* Tamaño máximo del botón */
    margin: 10px auto;
  }
  .main-title{
    color:black;
  }
  img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .main-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .footer {
    background-color: #7dcdb3;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    z-index: 10;
    left: 0; /* Asegura que el footer ocupe toda la anchura */
  }
  
  ion-content {
    padding-bottom: 80px; /* Espacio para el footer */
    overflow-y: auto; /* Permite el desplazamiento dentro del contenido */
    position: relative;
    height: 100%; /* Asegura que el contenido ocupe todo el espacio disponible */
  }

  .page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  ion-content {
    flex: 1;
    overflow-y: auto;  /* Habilita el desplazamiento */
  }
  
  app-footer {
    position: relative;  /* Mantiene el footer al final de la página */
  }
  
  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Aumentar el tamaño mínimo de las tarjetas */
    gap: 20px; /* Mayor espacio entre las tarjetas */
    padding: 20px; /* Más espacio alrededor del contenedor */
  }
  
  .service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px; /* Aumentar la altura de las tarjetas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .service-card img {
    width: 100%;
    height: 450px; /* Aumentar la altura de la imagen */
    object-fit: cover;
  }
  
  ion-card-header {
    background-color: #f8f8f8;
    padding: 12px;
    text-align: center;
  }
  
  ion-card-title {
    font-size: 1.4rem; /* Aumentar el tamaño del título */
    font-weight: bold;
    color:black;
  }
  
  ion-card-content {
    padding: 16px;
    font-size: 1.1rem; /* Aumentar el tamaño del texto */
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
    border-top: 1px solid #e0e0e0;
  }
  
  //Menu
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    height: 100vh;
    box-sizing: border-box;
    margin-top: 20px;
  }
  
  ion-toolbar ion-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  ion-toolbar {
    --background: #1c345c;
    --color: #fff;
  }
  
  ion-item {
    background-color: #1c345c !important;
    --color: black;
    --inner-border-width: 0 !important;
    --background-hover: #9eb9e7;
    border-bottom: 1px solid #ccc;
  }
  
  .menu-container ion-item {
    --min-height: 80px;
  }
  
  ion-menu ion-list {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1c345c !important;
  }
  
  .botones {
    margin-top: 20px;
  }