<ion-app>
<app-menu-header></app-menu-header>

  <div class="page-wrapper">
    <ion-content [fullscreen]="true" id="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>{{ inventoryTitle }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="changeLanguage('eu')">
              <img src="assets/icon/euskera.png" alt="Euskera" style="width: 24px; height: 24px; margin-right: 5px;"> Euskera
            </ion-button>
            <ion-button (click)="changeLanguage('es')">
              <img src="assets/icon/spain.png" alt="Castellano" style="width: 24px; height: 24px; margin-right: 5px;"> Castellano
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-grid class="container">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <h1 class="main-title">{{inventoryTitle}}</h1>
          </ion-col>
        </ion-row>
        <ion-row class="buttons-row">
          <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
            <ion-button shape="round" [routerLink]="'/productos'">{{productLabel}}</ion-button>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
            <ion-button shape="round" [routerLink]="'/materiales'">{{materialLabel}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-app>
