<ion-app>
    <!-- Contenido principal -->
    <ion-app class="ion-page" id="main-content">
      <!-- Header principal -->
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>{{ 'MATERIAL_MAILEGUAK.TITLE' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>

<ion-content [fullscreen]="true" *ngIf="!mobilaDa">
  <!-- Buscador -->
<ion-searchbar
search-icon="search-circle"
[placeholder]="'MATERIAL_MAILEGUAK.SEARCH' | translate"
(ionInput)="aplicarFiltro($event)">
</ion-searchbar>

<!-- Selector de materiales por página -->
<div class="productos-por-pagina">
<ion-item class="producto-item">
  <ion-label size="small">{{ 'MATERIAL_MAILEGUAK.ORDENA' | translate }}:</ion-label>
  <ion-select [(ngModel)]="maileguakPorPagina" interface="popover" size="small" (ionChange)="cambiarPagina(1)">
    <ion-select-option [value]="5">5</ion-select-option>
    <ion-select-option [value]="10">10</ion-select-option>
    <ion-select-option [value]="25">25</ion-select-option>
    <ion-select-option [value]="50">50</ion-select-option>
    <ion-select-option [value]="100">100</ion-select-option>
  </ion-select>
</ion-item>
</div>

  <!-- Paginación -->
<ion-row>
  <ion-col>
    <ion-button *ngFor="let page of hacerPaginacion()" (click)="cambiarPagina(page)">
      {{ page }}
    </ion-button>
  </ion-col>
</ion-row>

<!-- Fila de edición visible solo en modo edición -->
<ion-row *ngIf="editandoIMailegu">
  <ion-col size="12">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'MATERIAL_MAILEGUAK.EDITAR_MAILEGU' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form #materialForm="ngForm" (ngSubmit)="confirmarEdicion()" novalidate>
          <ion-item>
            <ion-label position="floating">{{ 'MATERIAL_MAILEGUAK.ID' | translate }}</ion-label>
            <ion-input [(ngModel)]="IMaileguSeleccionado.id" name="id" #id="ngModel" readonly></ion-input>
          </ion-item>

          <!-- Selección de Material -->
          <ion-item>
            <ion-label position="floating">{{ 'MATERIAL_MAILEGUAK.MATERIAL_IZENA' | translate }}</ion-label>
            <ion-select [(ngModel)]="IMaileguSeleccionado.materiala_id" name="materiala" required>
              <ion-select-option *ngFor="let material of materiales" [value]="material.id">
                {{ material.izena }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Selección de Trabajador -->
          <ion-item>
            <ion-label position="floating">{{ 'MATERIAL_MAILEGUAK.LANGILE_IZENA' | translate }}</ion-label>
            <ion-select [(ngModel)]="IMaileguSeleccionado.idLangilea" name="langilea" required>
              <ion-select-option *ngFor="let trabajador of trabajadores" [value]="trabajador.id">
                {{ trabajador.izena }} {{ trabajador.abizenak }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{ 'MATERIAL_MAILEGUAK.FECHA_INICIO' | translate }}</ion-label>
            <ion-input [(ngModel)]="IMaileguSeleccionado.hasieraData" name="hasiera_Data" #hasiera_Data="ngModel" required type="date"></ion-input>
            <ion-note *ngIf="hasiera_Data.invalid && hasiera_Data.touched" color="danger">
              {{ 'MATERIAL_MAILEGUAK.FECHA_INICIO_OBLIGATORIA' | translate }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{ 'MATERIAL_MAILEGUAK.FECHA_FIN' | translate }}</ion-label>
            <ion-input [(ngModel)]="IMaileguSeleccionado.amaieraData" name="amaiera_Data" #amaiera_Data="ngModel" required type="date"></ion-input>
            <ion-note *ngIf="amaiera_Data.invalid && amaiera_Data.touched" color="danger">
              {{ 'MATERIAL_MAILEGUAK.FECHA_FIN_OBLIGATORIA' | translate }}
            </ion-note>
          </ion-item>

          <ion-button expand="full" color="tertiary" type="submit" [disabled]="materialForm.invalid">{{ 'MATERIAL_MAILEGUAK.CONFIRMAR' | translate }}</ion-button>
          <ion-button expand="full" color="danger" (click)="cancelarEdicion()">{{ 'MATERIAL_MAILEGUAK.CANCELAR' | translate }}</ion-button>
          <ion-button *ngIf="esProfe" expand="full" class="custom-red-button" (click)="eliminarIMailegu()">
            {{ 'MATERIAL_MAILEGUAK.BORRAR_PRESTAMO' | translate }}
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>


<ion-row *ngIf="esProfe">
  <ion-col size="12" class="ion-text-center">
    <ion-button color="primary" expand="block" [routerLink]="'/crear-maileguak'">{{ 'MATERIAL_MAILEGUAK.ANADIR_PRESTAMO' | translate }}
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>

<!-- Fila de materiales -->
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <table class="custom-table">
        <thead>
          <tr>
            <th>{{ 'MATERIAL_MAILEGUAK.ID' | translate }}</th>
            <th>{{ 'MATERIAL_MAILEGUAK.LANGILE_IZENA' | translate }}</th>
            <th>{{ 'MATERIAL_MAILEGUAK.MATERIAL_IZENA' | translate }}</th>
            <th>{{ 'MATERIAL_MAILEGUAK.HASIERA_DATA' | translate }}</th>
            <th>{{ 'MATERIAL_MAILEGUAK.AMAIERA_DATA' | translate }}</th>
            <th>{{ 'MATERIAL_MAILEGUAK.SORTZE_DATA' | translate }}</th>
            <th>{{ 'MATERIAL_MAILEGUAK.EGUNERATZE_DATA' | translate }}</th>
            <th>{{ 'MATERIAL_MAILEGUAK.EKINTZAK' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mailegu of maileguakFiltrados | slice: (paginaActual - 1) * maileguakPorPagina : paginaActual * maileguakPorPagina">
            <td>{{ mailegu.id || '-' }}</td>
            <td>{{ obtenerNombreLangile(mailegu.idLangilea) }}</td>
            <td>{{ obtenerNombreMaterial(mailegu.materiala_id) }}</td>            
            <td>{{ mailegu.hasieraData ? (mailegu.hasieraData | date:'yyyy-MM-dd') : '-' }}</td>
            <td>{{ mailegu.amaieraData ? (mailegu.amaieraData | date:'yyyy-MM-dd') : '-' }}</td>
            <td>{{ mailegu.data.sortze_data ? (mailegu.data.sortze_data | date:'yyyy-MM-dd') : '-' }}</td>
            <td>{{ mailegu.data.eguneratze_data ? (mailegu.data.eguneratze_data | date:'yyyy-MM-dd') : '-' }}</td>
            <td>
              <ion-button color="primary" (click)="editarIMailegu(mailegu)">{{ 'MATERIAL_MAILEGUAK.EDITAR' | translate }}</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<!--MOVIL-->

<ion-content [fullscreen]="true" *ngIf="mobilaDa">
  <!-- Buscador -->
<ion-searchbar
search-icon="search-circle"
[placeholder]="'MATERIAL_MAILEGUAK.SEARCH' | translate"
(ionInput)="aplicarFiltro($event)">
</ion-searchbar>

<!-- Selector de productos por página -->
<div class="productosPorPagina">
<ion-item class="producto-item">
  <ion-label size="small">{{ 'MATERIAL_MAILEGUAK.ORDENA' | translate }}:</ion-label>
  <ion-select [(ngModel)]="maileguakPorPagina" interface="popover" size="small" (ionChange)="cambiarPagina(1)">
    <ion-select-option [value]="5">5</ion-select-option>
    <ion-select-option [value]="10">10</ion-select-option>
    <ion-select-option [value]="25">25</ion-select-option>
    <ion-select-option [value]="50">50</ion-select-option>
    <ion-select-option [value]="100">100</ion-select-option>
  </ion-select>
</ion-item>
</div>
  <!-- Paginación -->
<ion-row>
  <ion-col>
    <ion-button *ngFor="let page of hacerPaginacion()" (click)="cambiarPagina(page)">
      {{ page }}
    </ion-button>
  </ion-col>
</ion-row>

<!-- Fila de edición visible solo en modo edición -->
<ion-row *ngIf="editandoIMailegu">
  <ion-col size="12">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'MATERIAL_MAILEGUAK.EDICION_TITULO' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form #materialForm="ngForm" (ngSubmit)="confirmarEdicion()" novalidate>
          <ion-item>
            <ion-label position="floating">{{ 'MATERIAL_MAILEGUAK.ID' | translate }}</ion-label>
            <ion-input [(ngModel)]="IMaileguSeleccionado.id" name="id" #id="ngModel" readonly></ion-input>
          </ion-item>

          <!-- Selección de Material -->
          <ion-item>
            <ion-label position="floating">{{ 'MATERIAL_MAILEGUAK.MATERIAL_IZENA' | translate }}</ion-label>
            <ion-select [(ngModel)]="IMaileguSeleccionado.materiala_id" name="materiala" required>
              <ion-select-option *ngFor="let material of materiales" [value]="material.id">
                {{ material.izena }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Selección de Trabajador -->
          <ion-item>
            <ion-label position="floating">{{ 'MATERIAL_MAILEGUAK.LANGILE_IZENA' | translate }}</ion-label>
            <ion-select [(ngModel)]="IMaileguSeleccionado.idLangilea" name="langilea" required>
              <ion-select-option *ngFor="let trabajador of trabajadores" [value]="trabajador.id">
                {{ trabajador.izena }} {{ trabajador.abizenak }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{ 'MATERIAL_MAILEGUAK.FECHA_INICIO' | translate }}</ion-label>
            <ion-input [(ngModel)]="IMaileguSeleccionado.hasieraData" name="hasiera_Data" #hasiera_Data="ngModel" required type="date"></ion-input>
            <ion-note *ngIf="hasiera_Data.invalid && hasiera_Data.touched" color="danger">
              {{ 'MATERIAL_MAILEGUAK.FECHA_INICIO_OBLIGATORIA' | translate }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{ 'MATERIAL_MAILEGUAK.FECHA_FIN' | translate }}</ion-label>
            <ion-input [(ngModel)]="IMaileguSeleccionado.amaieraData" name="amaiera_Data" #amaiera_Data="ngModel" required type="date"></ion-input>
            <ion-note *ngIf="amaiera_Data.invalid && amaiera_Data.touched" color="danger">
              {{ 'MATERIAL_MAILEGUAK.FECHA_FIN_OBLIGATORIA' | translate }}
            </ion-note>
          </ion-item>

          <ion-button expand="full" color="tertiary" type="submit" [disabled]="materialForm.invalid">{{ 'MATERIAL_MAILEGUAK.CONFIRMAR' | translate }}</ion-button>
          <ion-button expand="full" color="danger" (click)="cancelarEdicion()">{{ 'MATERIAL_MAILEGUAK.CANCELAR' | translate }}</ion-button>
          <ion-button *ngIf="esProfe" expand="full" class="custom-red-button" (click)="eliminarIMailegu()">
            {{ 'MATERIAL_MAILEGUAK.BORRAR_PRESTAMO' | translate }}
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>


<ion-row *ngIf="esProfe">
  <ion-col size="12" class="ion-text-center">
    <ion-button color="primary" expand="block" [routerLink]="'/crear-maileguak'">{{ 'MATERIAL_MAILEGUAK.ANADIR_PRESTAMO' | translate }}
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>

<!-- Fila de materiales -->
<ion-row justify-content-center *ngFor="let mailegu of maileguakFiltrados | slice: (paginaActual - 1) * maileguakPorPagina : paginaActual * maileguakPorPagina">
  <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center">
    <ion-card *ngIf="IMaileguSeleccionado.id !== mailegu.id" (click)="editarIMailegu(mailegu)">
      <ion-card-header>
        <ion-card-title>{{ mailegu.materiala_id || '-' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>{{ 'MATERIAL_MAILEGUAK.LANGILE_IZENA' | translate }}:</strong> {{ obtenerNombreLangile(mailegu.idLangilea)|| '-' }}</p>
        <p><strong>{{ 'MATERIAL_MAILEGUAK.MATERIAL_IZENA' | translate }}:</strong> {{ obtenerNombreMaterial(mailegu.materiala_id)|| '-' }}</p>
        <p><strong>{{ 'MATERIAL_MAILEGUAK.SORTZE_DATA' | translate }}:</strong> {{ mailegu.hasieraData | date:'yyyy-MM-dd' }}</p>
        <p><strong>{{ 'MATERIAL_MAILEGUAK.EGUNERATZE_DATA' | translate }}:</strong> {{ mailegu.data.eguneratze_data ? (mailegu.data.eguneratze_data | date:'yyyy-MM-dd') : '-' }}</p>
        <p><strong>{{ 'MATERIAL_MAILEGUAK.HASIERA_DATA' | translate }}:</strong> {{ mailegu.hasieraData | date:'yyyy-MM-dd' }}</p>
        <p><strong>{{ 'MATERIAL_MAILEGUAK.AMAIERA_DATA' | translate }}:</strong> {{ mailegu.amaieraData ? (mailegu.amaieraData | date:'yyyy-MM-dd') : '-' }}</p>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
</ion-app>
